--
-- PostgreSQL database dump
--

\restrict myvve3xpPs6h9nKe2EMB9jXXPoM6RCO4bWVcqFzn8GTjaT6i0VXo3TRAwZxxewg

-- Dumped from database version 16.11
-- Dumped by pg_dump version 16.11

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

--
-- Name: enum_payment_submissions_payment_method; Type: TYPE; Schema: public; Owner: fintech_user
--

CREATE TYPE public.enum_payment_submissions_payment_method AS ENUM (
    'qr_code',
    'bank_transfer'
);


ALTER TYPE public.enum_payment_submissions_payment_method OWNER TO fintech_user;

--
-- Name: enum_payment_submissions_status; Type: TYPE; Schema: public; Owner: fintech_user
--

CREATE TYPE public.enum_payment_submissions_status AS ENUM (
    'pending',
    'approved',
    'rejected'
);


ALTER TYPE public.enum_payment_submissions_status OWNER TO fintech_user;

--
-- Name: enum_payment_verifications_decision; Type: TYPE; Schema: public; Owner: fintech_user
--

CREATE TYPE public.enum_payment_verifications_decision AS ENUM (
    'approved',
    'rejected',
    'info_requested'
);


ALTER TYPE public.enum_payment_verifications_decision OWNER TO fintech_user;

--
-- Name: enum_subscriptions_billing_cycle; Type: TYPE; Schema: public; Owner: fintech_user
--

CREATE TYPE public.enum_subscriptions_billing_cycle AS ENUM (
    'monthly',
    'yearly'
);


ALTER TYPE public.enum_subscriptions_billing_cycle OWNER TO fintech_user;

--
-- Name: enum_subscriptions_plan_name; Type: TYPE; Schema: public; Owner: fintech_user
--

CREATE TYPE public.enum_subscriptions_plan_name AS ENUM (
    'starter',
    'professional',
    'enterprise',
    'custom'
);


ALTER TYPE public.enum_subscriptions_plan_name OWNER TO fintech_user;

--
-- Name: enum_superadmins_role; Type: TYPE; Schema: public; Owner: fintech_user
--

CREATE TYPE public.enum_superadmins_role AS ENUM (
    'owner',
    'admin',
    'support'
);


ALTER TYPE public.enum_superadmins_role OWNER TO fintech_user;

--
-- Name: enum_tenants_status; Type: TYPE; Schema: public; Owner: fintech_user
--

CREATE TYPE public.enum_tenants_status AS ENUM (
    'active',
    'suspended',
    'trial',
    'expired'
);


ALTER TYPE public.enum_tenants_status OWNER TO fintech_user;

SET default_tablespace = '';

SET default_table_access_method = heap;

--
-- Name: audit_logs; Type: TABLE; Schema: public; Owner: fintech_user
--

CREATE TABLE public.audit_logs (
    id integer NOT NULL,
    superadmin_id integer,
    tenant_id integer,
    action character varying(100) NOT NULL,
    details jsonb,
    ip_address character varying(50),
    created_at timestamp with time zone
);


ALTER TABLE public.audit_logs OWNER TO fintech_user;

--
-- Name: audit_logs_id_seq; Type: SEQUENCE; Schema: public; Owner: fintech_user
--

CREATE SEQUENCE public.audit_logs_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.audit_logs_id_seq OWNER TO fintech_user;

--
-- Name: audit_logs_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: fintech_user
--

ALTER SEQUENCE public.audit_logs_id_seq OWNED BY public.audit_logs.id;


--
-- Name: ip_whitelists; Type: TABLE; Schema: public; Owner: fintech_user
--

CREATE TABLE public.ip_whitelists (
    id integer NOT NULL,
    tenant_id integer NOT NULL,
    ip_address character varying(50) NOT NULL,
    description character varying(255),
    added_at timestamp with time zone
);


ALTER TABLE public.ip_whitelists OWNER TO fintech_user;

--
-- Name: ip_whitelists_id_seq; Type: SEQUENCE; Schema: public; Owner: fintech_user
--

CREATE SEQUENCE public.ip_whitelists_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.ip_whitelists_id_seq OWNER TO fintech_user;

--
-- Name: ip_whitelists_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: fintech_user
--

ALTER SEQUENCE public.ip_whitelists_id_seq OWNED BY public.ip_whitelists.id;


--
-- Name: licenses; Type: TABLE; Schema: public; Owner: fintech_user
--

CREATE TABLE public.licenses (
    id integer NOT NULL,
    tenant_id integer NOT NULL,
    license_key character varying(255) NOT NULL,
    feature_flags jsonb DEFAULT '{}'::jsonb,
    issued_at timestamp with time zone,
    expires_at timestamp with time zone,
    revoked_at timestamp with time zone
);


ALTER TABLE public.licenses OWNER TO fintech_user;

--
-- Name: licenses_id_seq; Type: SEQUENCE; Schema: public; Owner: fintech_user
--

CREATE SEQUENCE public.licenses_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.licenses_id_seq OWNER TO fintech_user;

--
-- Name: licenses_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: fintech_user
--

ALTER SEQUENCE public.licenses_id_seq OWNED BY public.licenses.id;


--
-- Name: payment_submissions; Type: TABLE; Schema: public; Owner: fintech_user
--

CREATE TABLE public.payment_submissions (
    id integer NOT NULL,
    tenant_id integer NOT NULL,
    subscription_id integer,
    invoice_number character varying(100) NOT NULL,
    amount numeric(10,2) NOT NULL,
    payment_method public.enum_payment_submissions_payment_method,
    utr_number character varying(100),
    payment_slip_url text,
    submitted_by integer,
    status public.enum_payment_submissions_status DEFAULT 'pending'::public.enum_payment_submissions_status,
    notes text,
    submitted_at timestamp with time zone
);


ALTER TABLE public.payment_submissions OWNER TO fintech_user;

--
-- Name: payment_submissions_id_seq; Type: SEQUENCE; Schema: public; Owner: fintech_user
--

CREATE SEQUENCE public.payment_submissions_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.payment_submissions_id_seq OWNER TO fintech_user;

--
-- Name: payment_submissions_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: fintech_user
--

ALTER SEQUENCE public.payment_submissions_id_seq OWNED BY public.payment_submissions.id;


--
-- Name: payment_verifications; Type: TABLE; Schema: public; Owner: fintech_user
--

CREATE TABLE public.payment_verifications (
    id integer NOT NULL,
    payment_submission_id integer NOT NULL,
    superadmin_id integer,
    decision public.enum_payment_verifications_decision NOT NULL,
    admin_notes text,
    verified_at timestamp with time zone,
    action_taken character varying(100)
);


ALTER TABLE public.payment_verifications OWNER TO fintech_user;

--
-- Name: payment_verifications_id_seq; Type: SEQUENCE; Schema: public; Owner: fintech_user
--

CREATE SEQUENCE public.payment_verifications_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.payment_verifications_id_seq OWNER TO fintech_user;

--
-- Name: payment_verifications_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: fintech_user
--

ALTER SEQUENCE public.payment_verifications_id_seq OWNED BY public.payment_verifications.id;


--
-- Name: subscriptions; Type: TABLE; Schema: public; Owner: fintech_user
--

CREATE TABLE public.subscriptions (
    id integer NOT NULL,
    tenant_id integer NOT NULL,
    plan_name public.enum_subscriptions_plan_name NOT NULL,
    max_users integer DEFAULT 10,
    max_customers integer DEFAULT 100,
    max_transactions_per_month integer DEFAULT 1000,
    price_per_month numeric(10,2) NOT NULL,
    billing_cycle public.enum_subscriptions_billing_cycle DEFAULT 'monthly'::public.enum_subscriptions_billing_cycle,
    start_date date NOT NULL,
    end_date date NOT NULL,
    auto_renew boolean DEFAULT false,
    created_at timestamp with time zone NOT NULL
);


ALTER TABLE public.subscriptions OWNER TO fintech_user;

--
-- Name: subscriptions_id_seq; Type: SEQUENCE; Schema: public; Owner: fintech_user
--

CREATE SEQUENCE public.subscriptions_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.subscriptions_id_seq OWNER TO fintech_user;

--
-- Name: subscriptions_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: fintech_user
--

ALTER SEQUENCE public.subscriptions_id_seq OWNED BY public.subscriptions.id;


--
-- Name: superadmins; Type: TABLE; Schema: public; Owner: fintech_user
--

CREATE TABLE public.superadmins (
    id integer NOT NULL,
    email character varying(255) NOT NULL,
    password_hash character varying(255) NOT NULL,
    name character varying(255) NOT NULL,
    role public.enum_superadmins_role DEFAULT 'admin'::public.enum_superadmins_role,
    last_login_at timestamp with time zone,
    created_at timestamp with time zone NOT NULL
);


ALTER TABLE public.superadmins OWNER TO fintech_user;

--
-- Name: superadmins_id_seq; Type: SEQUENCE; Schema: public; Owner: fintech_user
--

CREATE SEQUENCE public.superadmins_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.superadmins_id_seq OWNER TO fintech_user;

--
-- Name: superadmins_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: fintech_user
--

ALTER SEQUENCE public.superadmins_id_seq OWNED BY public.superadmins.id;


--
-- Name: tenants; Type: TABLE; Schema: public; Owner: fintech_user
--

CREATE TABLE public.tenants (
    id integer NOT NULL,
    tenant_key character varying(100) NOT NULL,
    company_name character varying(255) NOT NULL,
    subdomain character varying(100) NOT NULL,
    database_host character varying(255) NOT NULL,
    database_port integer DEFAULT 5432,
    database_name character varying(100) NOT NULL,
    database_user character varying(100) NOT NULL,
    database_password text NOT NULL,
    status public.enum_tenants_status DEFAULT 'trial'::public.enum_tenants_status,
    suspended_at timestamp with time zone,
    notes text,
    created_at timestamp with time zone NOT NULL
);


ALTER TABLE public.tenants OWNER TO fintech_user;

--
-- Name: tenants_id_seq; Type: SEQUENCE; Schema: public; Owner: fintech_user
--

CREATE SEQUENCE public.tenants_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.tenants_id_seq OWNER TO fintech_user;

--
-- Name: tenants_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: fintech_user
--

ALTER SEQUENCE public.tenants_id_seq OWNED BY public.tenants.id;


--
-- Name: audit_logs id; Type: DEFAULT; Schema: public; Owner: fintech_user
--

ALTER TABLE ONLY public.audit_logs ALTER COLUMN id SET DEFAULT nextval('public.audit_logs_id_seq'::regclass);


--
-- Name: ip_whitelists id; Type: DEFAULT; Schema: public; Owner: fintech_user
--

ALTER TABLE ONLY public.ip_whitelists ALTER COLUMN id SET DEFAULT nextval('public.ip_whitelists_id_seq'::regclass);


--
-- Name: licenses id; Type: DEFAULT; Schema: public; Owner: fintech_user
--

ALTER TABLE ONLY public.licenses ALTER COLUMN id SET DEFAULT nextval('public.licenses_id_seq'::regclass);


--
-- Name: payment_submissions id; Type: DEFAULT; Schema: public; Owner: fintech_user
--

ALTER TABLE ONLY public.payment_submissions ALTER COLUMN id SET DEFAULT nextval('public.payment_submissions_id_seq'::regclass);


--
-- Name: payment_verifications id; Type: DEFAULT; Schema: public; Owner: fintech_user
--

ALTER TABLE ONLY public.payment_verifications ALTER COLUMN id SET DEFAULT nextval('public.payment_verifications_id_seq'::regclass);


--
-- Name: subscriptions id; Type: DEFAULT; Schema: public; Owner: fintech_user
--

ALTER TABLE ONLY public.subscriptions ALTER COLUMN id SET DEFAULT nextval('public.subscriptions_id_seq'::regclass);


--
-- Name: superadmins id; Type: DEFAULT; Schema: public; Owner: fintech_user
--

ALTER TABLE ONLY public.superadmins ALTER COLUMN id SET DEFAULT nextval('public.superadmins_id_seq'::regclass);


--
-- Name: tenants id; Type: DEFAULT; Schema: public; Owner: fintech_user
--

ALTER TABLE ONLY public.tenants ALTER COLUMN id SET DEFAULT nextval('public.tenants_id_seq'::regclass);


--
-- Data for Name: audit_logs; Type: TABLE DATA; Schema: public; Owner: fintech_user
--



--
-- Data for Name: ip_whitelists; Type: TABLE DATA; Schema: public; Owner: fintech_user
--

COPY public.ip_whitelists (id, tenant_id, ip_address, description, added_at) FROM stdin;
\.


--
-- Data for Name: licenses; Type: TABLE DATA; Schema: public; Owner: fintech_user
--



--
-- Data for Name: payment_submissions; Type: TABLE DATA; Schema: public; Owner: fintech_user
--

COPY public.payment_submissions (id, tenant_id, subscription_id, invoice_number, amount, payment_method, utr_number, payment_slip_url, submitted_by, status, notes, submitted_at) FROM stdin;
\.


--
-- Data for Name: payment_verifications; Type: TABLE DATA; Schema: public; Owner: fintech_user
--

COPY public.payment_verifications (id, payment_submission_id, superadmin_id, decision, admin_notes, verified_at, action_taken) FROM stdin;
\.


--
-- Data for Name: subscriptions; Type: TABLE DATA; Schema: public; Owner: fintech_user
--

COPY public.subscriptions (id, tenant_id, plan_name, max_users, max_customers, max_transactions_per_month, price_per_month, billing_cycle, start_date, end_date, auto_renew, created_at) FROM stdin;
1	2	starter	10	100	1000	0.00	monthly	2026-01-15	2026-01-14	f	2026-01-15 16:05:11.998+00
2	6	starter	10	100	1000	0.00	monthly	2026-01-16	2026-01-31	f	2026-01-16 02:11:01.254+00
\.


--
-- Data for Name: superadmins; Type: TABLE DATA; Schema: public; Owner: fintech_user
--

COPY public.superadmins (id, email, password_hash, name, role, last_login_at, created_at) FROM stdin;
1	admin@yourcompany.com	$2a$10$aImlDSOEYyA1uJxK8eM9g.KDxzkMvLctpMDuXcd0yCsh.xcKwQnpi	Super Admin	owner	2026-01-23 15:12:52.471+00	2026-01-11 00:01:48.033+00
\.


--
-- Data for Name: tenants; Type: TABLE DATA; Schema: public; Owner: fintech_user
--



--
-- Name: audit_logs_id_seq; Type: SEQUENCE SET; Schema: public; Owner: fintech_user
--

SELECT pg_catalog.setval('public.audit_logs_id_seq', 17, true);


--
-- Name: ip_whitelists_id_seq; Type: SEQUENCE SET; Schema: public; Owner: fintech_user
--

SELECT pg_catalog.setval('public.ip_whitelists_id_seq', 1, false);


--
-- Name: licenses_id_seq; Type: SEQUENCE SET; Schema: public; Owner: fintech_user
--

SELECT pg_catalog.setval('public.licenses_id_seq', 5, true);


--
-- Name: payment_submissions_id_seq; Type: SEQUENCE SET; Schema: public; Owner: fintech_user
--

SELECT pg_catalog.setval('public.payment_submissions_id_seq', 1, false);


--
-- Name: payment_verifications_id_seq; Type: SEQUENCE SET; Schema: public; Owner: fintech_user
--

SELECT pg_catalog.setval('public.payment_verifications_id_seq', 1, false);


--
-- Name: subscriptions_id_seq; Type: SEQUENCE SET; Schema: public; Owner: fintech_user
--

SELECT pg_catalog.setval('public.subscriptions_id_seq', 2, true);


--
-- Name: superadmins_id_seq; Type: SEQUENCE SET; Schema: public; Owner: fintech_user
--

SELECT pg_catalog.setval('public.superadmins_id_seq', 1, true);


--
-- Name: tenants_id_seq; Type: SEQUENCE SET; Schema: public; Owner: fintech_user
--

SELECT pg_catalog.setval('public.tenants_id_seq', 6, true);


--
-- Name: audit_logs audit_logs_pkey; Type: CONSTRAINT; Schema: public; Owner: fintech_user
--

ALTER TABLE ONLY public.audit_logs
    ADD CONSTRAINT audit_logs_pkey PRIMARY KEY (id);


--
-- Name: ip_whitelists ip_whitelists_pkey; Type: CONSTRAINT; Schema: public; Owner: fintech_user
--

ALTER TABLE ONLY public.ip_whitelists
    ADD CONSTRAINT ip_whitelists_pkey PRIMARY KEY (id);


--
-- Name: licenses licenses_license_key_key; Type: CONSTRAINT; Schema: public; Owner: fintech_user
--

ALTER TABLE ONLY public.licenses
    ADD CONSTRAINT licenses_license_key_key UNIQUE (license_key);


--
-- Name: licenses licenses_license_key_key1; Type: CONSTRAINT; Schema: public; Owner: fintech_user
--

ALTER TABLE ONLY public.licenses
    ADD CONSTRAINT licenses_license_key_key1 UNIQUE (license_key);


--
-- Name: licenses licenses_license_key_key10; Type: CONSTRAINT; Schema: public; Owner: fintech_user
--

ALTER TABLE ONLY public.licenses
    ADD CONSTRAINT licenses_license_key_key10 UNIQUE (license_key);


--
-- Name: licenses licenses_license_key_key11; Type: CONSTRAINT; Schema: public; Owner: fintech_user
--

ALTER TABLE ONLY public.licenses
    ADD CONSTRAINT licenses_license_key_key11 UNIQUE (license_key);


--
-- Name: licenses licenses_license_key_key12; Type: CONSTRAINT; Schema: public; Owner: fintech_user
--

ALTER TABLE ONLY public.licenses
    ADD CONSTRAINT licenses_license_key_key12 UNIQUE (license_key);


--
-- Name: licenses licenses_license_key_key13; Type: CONSTRAINT; Schema: public; Owner: fintech_user
--

ALTER TABLE ONLY public.licenses
    ADD CONSTRAINT licenses_license_key_key13 UNIQUE (license_key);


--
-- Name: licenses licenses_license_key_key14; Type: CONSTRAINT; Schema: public; Owner: fintech_user
--

ALTER TABLE ONLY public.licenses
    ADD CONSTRAINT licenses_license_key_key14 UNIQUE (license_key);


--
-- Name: licenses licenses_license_key_key15; Type: CONSTRAINT; Schema: public; Owner: fintech_user
--

ALTER TABLE ONLY public.licenses
    ADD CONSTRAINT licenses_license_key_key15 UNIQUE (license_key);


--
-- Name: licenses licenses_license_key_key16; Type: CONSTRAINT; Schema: public; Owner: fintech_user
--

ALTER TABLE ONLY public.licenses
    ADD CONSTRAINT licenses_license_key_key16 UNIQUE (license_key);


--
-- Name: licenses licenses_license_key_key17; Type: CONSTRAINT; Schema: public; Owner: fintech_user
--

ALTER TABLE ONLY public.licenses
    ADD CONSTRAINT licenses_license_key_key17 UNIQUE (license_key);


--
-- Name: licenses licenses_license_key_key18; Type: CONSTRAINT; Schema: public; Owner: fintech_user
--

ALTER TABLE ONLY public.licenses
    ADD CONSTRAINT licenses_license_key_key18 UNIQUE (license_key);


--
-- Name: licenses licenses_license_key_key19; Type: CONSTRAINT; Schema: public; Owner: fintech_user
--

ALTER TABLE ONLY public.licenses
    ADD CONSTRAINT licenses_license_key_key19 UNIQUE (license_key);


--
-- Name: licenses licenses_license_key_key2; Type: CONSTRAINT; Schema: public; Owner: fintech_user
--

ALTER TABLE ONLY public.licenses
    ADD CONSTRAINT licenses_license_key_key2 UNIQUE (license_key);


--
-- Name: licenses licenses_license_key_key20; Type: CONSTRAINT; Schema: public; Owner: fintech_user
--

ALTER TABLE ONLY public.licenses
    ADD CONSTRAINT licenses_license_key_key20 UNIQUE (license_key);


--
-- Name: licenses licenses_license_key_key21; Type: CONSTRAINT; Schema: public; Owner: fintech_user
--

ALTER TABLE ONLY public.licenses
    ADD CONSTRAINT licenses_license_key_key21 UNIQUE (license_key);


--
-- Name: licenses licenses_license_key_key22; Type: CONSTRAINT; Schema: public; Owner: fintech_user
--

ALTER TABLE ONLY public.licenses
    ADD CONSTRAINT licenses_license_key_key22 UNIQUE (license_key);


--
-- Name: licenses licenses_license_key_key23; Type: CONSTRAINT; Schema: public; Owner: fintech_user
--

ALTER TABLE ONLY public.licenses
    ADD CONSTRAINT licenses_license_key_key23 UNIQUE (license_key);


--
-- Name: licenses licenses_license_key_key24; Type: CONSTRAINT; Schema: public; Owner: fintech_user
--

ALTER TABLE ONLY public.licenses
    ADD CONSTRAINT licenses_license_key_key24 UNIQUE (license_key);


--
-- Name: licenses licenses_license_key_key25; Type: CONSTRAINT; Schema: public; Owner: fintech_user
--

ALTER TABLE ONLY public.licenses
    ADD CONSTRAINT licenses_license_key_key25 UNIQUE (license_key);


--
-- Name: licenses licenses_license_key_key26; Type: CONSTRAINT; Schema: public; Owner: fintech_user
--

ALTER TABLE ONLY public.licenses
    ADD CONSTRAINT licenses_license_key_key26 UNIQUE (license_key);


--
-- Name: licenses licenses_license_key_key27; Type: CONSTRAINT; Schema: public; Owner: fintech_user
--

ALTER TABLE ONLY public.licenses
    ADD CONSTRAINT licenses_license_key_key27 UNIQUE (license_key);


--
-- Name: licenses licenses_license_key_key28; Type: CONSTRAINT; Schema: public; Owner: fintech_user
--

ALTER TABLE ONLY public.licenses
    ADD CONSTRAINT licenses_license_key_key28 UNIQUE (license_key);


--
-- Name: licenses licenses_license_key_key29; Type: CONSTRAINT; Schema: public; Owner: fintech_user
--

ALTER TABLE ONLY public.licenses
    ADD CONSTRAINT licenses_license_key_key29 UNIQUE (license_key);


--
-- Name: licenses licenses_license_key_key3; Type: CONSTRAINT; Schema: public; Owner: fintech_user
--

ALTER TABLE ONLY public.licenses
    ADD CONSTRAINT licenses_license_key_key3 UNIQUE (license_key);


--
-- Name: licenses licenses_license_key_key30; Type: CONSTRAINT; Schema: public; Owner: fintech_user
--

ALTER TABLE ONLY public.licenses
    ADD CONSTRAINT licenses_license_key_key30 UNIQUE (license_key);


--
-- Name: licenses licenses_license_key_key31; Type: CONSTRAINT; Schema: public; Owner: fintech_user
--

ALTER TABLE ONLY public.licenses
    ADD CONSTRAINT licenses_license_key_key31 UNIQUE (license_key);


--
-- Name: licenses licenses_license_key_key32; Type: CONSTRAINT; Schema: public; Owner: fintech_user
--

ALTER TABLE ONLY public.licenses
    ADD CONSTRAINT licenses_license_key_key32 UNIQUE (license_key);


--
-- Name: licenses licenses_license_key_key33; Type: CONSTRAINT; Schema: public; Owner: fintech_user
--

ALTER TABLE ONLY public.licenses
    ADD CONSTRAINT licenses_license_key_key33 UNIQUE (license_key);


--
-- Name: licenses licenses_license_key_key34; Type: CONSTRAINT; Schema: public; Owner: fintech_user
--

ALTER TABLE ONLY public.licenses
    ADD CONSTRAINT licenses_license_key_key34 UNIQUE (license_key);


--
-- Name: licenses licenses_license_key_key35; Type: CONSTRAINT; Schema: public; Owner: fintech_user
--

ALTER TABLE ONLY public.licenses
    ADD CONSTRAINT licenses_license_key_key35 UNIQUE (license_key);


--
-- Name: licenses licenses_license_key_key36; Type: CONSTRAINT; Schema: public; Owner: fintech_user
--

ALTER TABLE ONLY public.licenses
    ADD CONSTRAINT licenses_license_key_key36 UNIQUE (license_key);


--
-- Name: licenses licenses_license_key_key37; Type: CONSTRAINT; Schema: public; Owner: fintech_user
--

ALTER TABLE ONLY public.licenses
    ADD CONSTRAINT licenses_license_key_key37 UNIQUE (license_key);


--
-- Name: licenses licenses_license_key_key38; Type: CONSTRAINT; Schema: public; Owner: fintech_user
--

ALTER TABLE ONLY public.licenses
    ADD CONSTRAINT licenses_license_key_key38 UNIQUE (license_key);


--
-- Name: licenses licenses_license_key_key39; Type: CONSTRAINT; Schema: public; Owner: fintech_user
--

ALTER TABLE ONLY public.licenses
    ADD CONSTRAINT licenses_license_key_key39 UNIQUE (license_key);


--
-- Name: licenses licenses_license_key_key4; Type: CONSTRAINT; Schema: public; Owner: fintech_user
--

ALTER TABLE ONLY public.licenses
    ADD CONSTRAINT licenses_license_key_key4 UNIQUE (license_key);


--
-- Name: licenses licenses_license_key_key40; Type: CONSTRAINT; Schema: public; Owner: fintech_user
--

ALTER TABLE ONLY public.licenses
    ADD CONSTRAINT licenses_license_key_key40 UNIQUE (license_key);


--
-- Name: licenses licenses_license_key_key41; Type: CONSTRAINT; Schema: public; Owner: fintech_user
--

ALTER TABLE ONLY public.licenses
    ADD CONSTRAINT licenses_license_key_key41 UNIQUE (license_key);


--
-- Name: licenses licenses_license_key_key42; Type: CONSTRAINT; Schema: public; Owner: fintech_user
--

ALTER TABLE ONLY public.licenses
    ADD CONSTRAINT licenses_license_key_key42 UNIQUE (license_key);


--
-- Name: licenses licenses_license_key_key43; Type: CONSTRAINT; Schema: public; Owner: fintech_user
--

ALTER TABLE ONLY public.licenses
    ADD CONSTRAINT licenses_license_key_key43 UNIQUE (license_key);


--
-- Name: licenses licenses_license_key_key5; Type: CONSTRAINT; Schema: public; Owner: fintech_user
--

ALTER TABLE ONLY public.licenses
    ADD CONSTRAINT licenses_license_key_key5 UNIQUE (license_key);


--
-- Name: licenses licenses_license_key_key6; Type: CONSTRAINT; Schema: public; Owner: fintech_user
--

ALTER TABLE ONLY public.licenses
    ADD CONSTRAINT licenses_license_key_key6 UNIQUE (license_key);


--
-- Name: licenses licenses_license_key_key7; Type: CONSTRAINT; Schema: public; Owner: fintech_user
--

ALTER TABLE ONLY public.licenses
    ADD CONSTRAINT licenses_license_key_key7 UNIQUE (license_key);


--
-- Name: licenses licenses_license_key_key8; Type: CONSTRAINT; Schema: public; Owner: fintech_user
--

ALTER TABLE ONLY public.licenses
    ADD CONSTRAINT licenses_license_key_key8 UNIQUE (license_key);


--
-- Name: licenses licenses_license_key_key9; Type: CONSTRAINT; Schema: public; Owner: fintech_user
--

ALTER TABLE ONLY public.licenses
    ADD CONSTRAINT licenses_license_key_key9 UNIQUE (license_key);


--
-- Name: licenses licenses_pkey; Type: CONSTRAINT; Schema: public; Owner: fintech_user
--

ALTER TABLE ONLY public.licenses
    ADD CONSTRAINT licenses_pkey PRIMARY KEY (id);


--
-- Name: payment_submissions payment_submissions_invoice_number_key; Type: CONSTRAINT; Schema: public; Owner: fintech_user
--

ALTER TABLE ONLY public.payment_submissions
    ADD CONSTRAINT payment_submissions_invoice_number_key UNIQUE (invoice_number);


--
-- Name: payment_submissions payment_submissions_invoice_number_key1; Type: CONSTRAINT; Schema: public; Owner: fintech_user
--

ALTER TABLE ONLY public.payment_submissions
    ADD CONSTRAINT payment_submissions_invoice_number_key1 UNIQUE (invoice_number);


--
-- Name: payment_submissions payment_submissions_invoice_number_key10; Type: CONSTRAINT; Schema: public; Owner: fintech_user
--

ALTER TABLE ONLY public.payment_submissions
    ADD CONSTRAINT payment_submissions_invoice_number_key10 UNIQUE (invoice_number);


--
-- Name: payment_submissions payment_submissions_invoice_number_key11; Type: CONSTRAINT; Schema: public; Owner: fintech_user
--

ALTER TABLE ONLY public.payment_submissions
    ADD CONSTRAINT payment_submissions_invoice_number_key11 UNIQUE (invoice_number);


--
-- Name: payment_submissions payment_submissions_invoice_number_key12; Type: CONSTRAINT; Schema: public; Owner: fintech_user
--

ALTER TABLE ONLY public.payment_submissions
    ADD CONSTRAINT payment_submissions_invoice_number_key12 UNIQUE (invoice_number);


--
-- Name: payment_submissions payment_submissions_invoice_number_key13; Type: CONSTRAINT; Schema: public; Owner: fintech_user
--

ALTER TABLE ONLY public.payment_submissions
    ADD CONSTRAINT payment_submissions_invoice_number_key13 UNIQUE (invoice_number);


--
-- Name: payment_submissions payment_submissions_invoice_number_key14; Type: CONSTRAINT; Schema: public; Owner: fintech_user
--

ALTER TABLE ONLY public.payment_submissions
    ADD CONSTRAINT payment_submissions_invoice_number_key14 UNIQUE (invoice_number);


--
-- Name: payment_submissions payment_submissions_invoice_number_key15; Type: CONSTRAINT; Schema: public; Owner: fintech_user
--

ALTER TABLE ONLY public.payment_submissions
    ADD CONSTRAINT payment_submissions_invoice_number_key15 UNIQUE (invoice_number);


--
-- Name: payment_submissions payment_submissions_invoice_number_key16; Type: CONSTRAINT; Schema: public; Owner: fintech_user
--

ALTER TABLE ONLY public.payment_submissions
    ADD CONSTRAINT payment_submissions_invoice_number_key16 UNIQUE (invoice_number);


--
-- Name: payment_submissions payment_submissions_invoice_number_key17; Type: CONSTRAINT; Schema: public; Owner: fintech_user
--

ALTER TABLE ONLY public.payment_submissions
    ADD CONSTRAINT payment_submissions_invoice_number_key17 UNIQUE (invoice_number);


--
-- Name: payment_submissions payment_submissions_invoice_number_key18; Type: CONSTRAINT; Schema: public; Owner: fintech_user
--

ALTER TABLE ONLY public.payment_submissions
    ADD CONSTRAINT payment_submissions_invoice_number_key18 UNIQUE (invoice_number);


--
-- Name: payment_submissions payment_submissions_invoice_number_key19; Type: CONSTRAINT; Schema: public; Owner: fintech_user
--

ALTER TABLE ONLY public.payment_submissions
    ADD CONSTRAINT payment_submissions_invoice_number_key19 UNIQUE (invoice_number);


--
-- Name: payment_submissions payment_submissions_invoice_number_key2; Type: CONSTRAINT; Schema: public; Owner: fintech_user
--

ALTER TABLE ONLY public.payment_submissions
    ADD CONSTRAINT payment_submissions_invoice_number_key2 UNIQUE (invoice_number);


--
-- Name: payment_submissions payment_submissions_invoice_number_key20; Type: CONSTRAINT; Schema: public; Owner: fintech_user
--

ALTER TABLE ONLY public.payment_submissions
    ADD CONSTRAINT payment_submissions_invoice_number_key20 UNIQUE (invoice_number);


--
-- Name: payment_submissions payment_submissions_invoice_number_key21; Type: CONSTRAINT; Schema: public; Owner: fintech_user
--

ALTER TABLE ONLY public.payment_submissions
    ADD CONSTRAINT payment_submissions_invoice_number_key21 UNIQUE (invoice_number);


--
-- Name: payment_submissions payment_submissions_invoice_number_key22; Type: CONSTRAINT; Schema: public; Owner: fintech_user
--

ALTER TABLE ONLY public.payment_submissions
    ADD CONSTRAINT payment_submissions_invoice_number_key22 UNIQUE (invoice_number);


--
-- Name: payment_submissions payment_submissions_invoice_number_key23; Type: CONSTRAINT; Schema: public; Owner: fintech_user
--

ALTER TABLE ONLY public.payment_submissions
    ADD CONSTRAINT payment_submissions_invoice_number_key23 UNIQUE (invoice_number);


--
-- Name: payment_submissions payment_submissions_invoice_number_key24; Type: CONSTRAINT; Schema: public; Owner: fintech_user
--

ALTER TABLE ONLY public.payment_submissions
    ADD CONSTRAINT payment_submissions_invoice_number_key24 UNIQUE (invoice_number);


--
-- Name: payment_submissions payment_submissions_invoice_number_key25; Type: CONSTRAINT; Schema: public; Owner: fintech_user
--

ALTER TABLE ONLY public.payment_submissions
    ADD CONSTRAINT payment_submissions_invoice_number_key25 UNIQUE (invoice_number);


--
-- Name: payment_submissions payment_submissions_invoice_number_key26; Type: CONSTRAINT; Schema: public; Owner: fintech_user
--

ALTER TABLE ONLY public.payment_submissions
    ADD CONSTRAINT payment_submissions_invoice_number_key26 UNIQUE (invoice_number);


--
-- Name: payment_submissions payment_submissions_invoice_number_key27; Type: CONSTRAINT; Schema: public; Owner: fintech_user
--

ALTER TABLE ONLY public.payment_submissions
    ADD CONSTRAINT payment_submissions_invoice_number_key27 UNIQUE (invoice_number);


--
-- Name: payment_submissions payment_submissions_invoice_number_key28; Type: CONSTRAINT; Schema: public; Owner: fintech_user
--

ALTER TABLE ONLY public.payment_submissions
    ADD CONSTRAINT payment_submissions_invoice_number_key28 UNIQUE (invoice_number);


--
-- Name: payment_submissions payment_submissions_invoice_number_key29; Type: CONSTRAINT; Schema: public; Owner: fintech_user
--

ALTER TABLE ONLY public.payment_submissions
    ADD CONSTRAINT payment_submissions_invoice_number_key29 UNIQUE (invoice_number);


--
-- Name: payment_submissions payment_submissions_invoice_number_key3; Type: CONSTRAINT; Schema: public; Owner: fintech_user
--

ALTER TABLE ONLY public.payment_submissions
    ADD CONSTRAINT payment_submissions_invoice_number_key3 UNIQUE (invoice_number);


--
-- Name: payment_submissions payment_submissions_invoice_number_key30; Type: CONSTRAINT; Schema: public; Owner: fintech_user
--

ALTER TABLE ONLY public.payment_submissions
    ADD CONSTRAINT payment_submissions_invoice_number_key30 UNIQUE (invoice_number);


--
-- Name: payment_submissions payment_submissions_invoice_number_key31; Type: CONSTRAINT; Schema: public; Owner: fintech_user
--

ALTER TABLE ONLY public.payment_submissions
    ADD CONSTRAINT payment_submissions_invoice_number_key31 UNIQUE (invoice_number);


--
-- Name: payment_submissions payment_submissions_invoice_number_key32; Type: CONSTRAINT; Schema: public; Owner: fintech_user
--

ALTER TABLE ONLY public.payment_submissions
    ADD CONSTRAINT payment_submissions_invoice_number_key32 UNIQUE (invoice_number);


--
-- Name: payment_submissions payment_submissions_invoice_number_key33; Type: CONSTRAINT; Schema: public; Owner: fintech_user
--

ALTER TABLE ONLY public.payment_submissions
    ADD CONSTRAINT payment_submissions_invoice_number_key33 UNIQUE (invoice_number);


--
-- Name: payment_submissions payment_submissions_invoice_number_key34; Type: CONSTRAINT; Schema: public; Owner: fintech_user
--

ALTER TABLE ONLY public.payment_submissions
    ADD CONSTRAINT payment_submissions_invoice_number_key34 UNIQUE (invoice_number);


--
-- Name: payment_submissions payment_submissions_invoice_number_key35; Type: CONSTRAINT; Schema: public; Owner: fintech_user
--

ALTER TABLE ONLY public.payment_submissions
    ADD CONSTRAINT payment_submissions_invoice_number_key35 UNIQUE (invoice_number);


--
-- Name: payment_submissions payment_submissions_invoice_number_key36; Type: CONSTRAINT; Schema: public; Owner: fintech_user
--

ALTER TABLE ONLY public.payment_submissions
    ADD CONSTRAINT payment_submissions_invoice_number_key36 UNIQUE (invoice_number);


--
-- Name: payment_submissions payment_submissions_invoice_number_key37; Type: CONSTRAINT; Schema: public; Owner: fintech_user
--

ALTER TABLE ONLY public.payment_submissions
    ADD CONSTRAINT payment_submissions_invoice_number_key37 UNIQUE (invoice_number);


--
-- Name: payment_submissions payment_submissions_invoice_number_key38; Type: CONSTRAINT; Schema: public; Owner: fintech_user
--

ALTER TABLE ONLY public.payment_submissions
    ADD CONSTRAINT payment_submissions_invoice_number_key38 UNIQUE (invoice_number);


--
-- Name: payment_submissions payment_submissions_invoice_number_key39; Type: CONSTRAINT; Schema: public; Owner: fintech_user
--

ALTER TABLE ONLY public.payment_submissions
    ADD CONSTRAINT payment_submissions_invoice_number_key39 UNIQUE (invoice_number);


--
-- Name: payment_submissions payment_submissions_invoice_number_key4; Type: CONSTRAINT; Schema: public; Owner: fintech_user
--

ALTER TABLE ONLY public.payment_submissions
    ADD CONSTRAINT payment_submissions_invoice_number_key4 UNIQUE (invoice_number);


--
-- Name: payment_submissions payment_submissions_invoice_number_key40; Type: CONSTRAINT; Schema: public; Owner: fintech_user
--

ALTER TABLE ONLY public.payment_submissions
    ADD CONSTRAINT payment_submissions_invoice_number_key40 UNIQUE (invoice_number);


--
-- Name: payment_submissions payment_submissions_invoice_number_key41; Type: CONSTRAINT; Schema: public; Owner: fintech_user
--

ALTER TABLE ONLY public.payment_submissions
    ADD CONSTRAINT payment_submissions_invoice_number_key41 UNIQUE (invoice_number);


--
-- Name: payment_submissions payment_submissions_invoice_number_key42; Type: CONSTRAINT; Schema: public; Owner: fintech_user
--

ALTER TABLE ONLY public.payment_submissions
    ADD CONSTRAINT payment_submissions_invoice_number_key42 UNIQUE (invoice_number);


--
-- Name: payment_submissions payment_submissions_invoice_number_key43; Type: CONSTRAINT; Schema: public; Owner: fintech_user
--

ALTER TABLE ONLY public.payment_submissions
    ADD CONSTRAINT payment_submissions_invoice_number_key43 UNIQUE (invoice_number);


--
-- Name: payment_submissions payment_submissions_invoice_number_key5; Type: CONSTRAINT; Schema: public; Owner: fintech_user
--

ALTER TABLE ONLY public.payment_submissions
    ADD CONSTRAINT payment_submissions_invoice_number_key5 UNIQUE (invoice_number);


--
-- Name: payment_submissions payment_submissions_invoice_number_key6; Type: CONSTRAINT; Schema: public; Owner: fintech_user
--

ALTER TABLE ONLY public.payment_submissions
    ADD CONSTRAINT payment_submissions_invoice_number_key6 UNIQUE (invoice_number);


--
-- Name: payment_submissions payment_submissions_invoice_number_key7; Type: CONSTRAINT; Schema: public; Owner: fintech_user
--

ALTER TABLE ONLY public.payment_submissions
    ADD CONSTRAINT payment_submissions_invoice_number_key7 UNIQUE (invoice_number);


--
-- Name: payment_submissions payment_submissions_invoice_number_key8; Type: CONSTRAINT; Schema: public; Owner: fintech_user
--

ALTER TABLE ONLY public.payment_submissions
    ADD CONSTRAINT payment_submissions_invoice_number_key8 UNIQUE (invoice_number);


--
-- Name: payment_submissions payment_submissions_invoice_number_key9; Type: CONSTRAINT; Schema: public; Owner: fintech_user
--

ALTER TABLE ONLY public.payment_submissions
    ADD CONSTRAINT payment_submissions_invoice_number_key9 UNIQUE (invoice_number);


--
-- Name: payment_submissions payment_submissions_pkey; Type: CONSTRAINT; Schema: public; Owner: fintech_user
--

ALTER TABLE ONLY public.payment_submissions
    ADD CONSTRAINT payment_submissions_pkey PRIMARY KEY (id);


--
-- Name: payment_verifications payment_verifications_pkey; Type: CONSTRAINT; Schema: public; Owner: fintech_user
--

ALTER TABLE ONLY public.payment_verifications
    ADD CONSTRAINT payment_verifications_pkey PRIMARY KEY (id);


--
-- Name: subscriptions subscriptions_pkey; Type: CONSTRAINT; Schema: public; Owner: fintech_user
--

ALTER TABLE ONLY public.subscriptions
    ADD CONSTRAINT subscriptions_pkey PRIMARY KEY (id);


--
-- Name: superadmins superadmins_email_key; Type: CONSTRAINT; Schema: public; Owner: fintech_user
--

ALTER TABLE ONLY public.superadmins
    ADD CONSTRAINT superadmins_email_key UNIQUE (email);


--
-- Name: superadmins superadmins_email_key1; Type: CONSTRAINT; Schema: public; Owner: fintech_user
--

ALTER TABLE ONLY public.superadmins
    ADD CONSTRAINT superadmins_email_key1 UNIQUE (email);


--
-- Name: superadmins superadmins_email_key10; Type: CONSTRAINT; Schema: public; Owner: fintech_user
--

ALTER TABLE ONLY public.superadmins
    ADD CONSTRAINT superadmins_email_key10 UNIQUE (email);


--
-- Name: superadmins superadmins_email_key11; Type: CONSTRAINT; Schema: public; Owner: fintech_user
--

ALTER TABLE ONLY public.superadmins
    ADD CONSTRAINT superadmins_email_key11 UNIQUE (email);


--
-- Name: superadmins superadmins_email_key12; Type: CONSTRAINT; Schema: public; Owner: fintech_user
--

ALTER TABLE ONLY public.superadmins
    ADD CONSTRAINT superadmins_email_key12 UNIQUE (email);


--
-- Name: superadmins superadmins_email_key13; Type: CONSTRAINT; Schema: public; Owner: fintech_user
--

ALTER TABLE ONLY public.superadmins
    ADD CONSTRAINT superadmins_email_key13 UNIQUE (email);


--
-- Name: superadmins superadmins_email_key14; Type: CONSTRAINT; Schema: public; Owner: fintech_user
--

ALTER TABLE ONLY public.superadmins
    ADD CONSTRAINT superadmins_email_key14 UNIQUE (email);


--
-- Name: superadmins superadmins_email_key15; Type: CONSTRAINT; Schema: public; Owner: fintech_user
--

ALTER TABLE ONLY public.superadmins
    ADD CONSTRAINT superadmins_email_key15 UNIQUE (email);


--
-- Name: superadmins superadmins_email_key16; Type: CONSTRAINT; Schema: public; Owner: fintech_user
--

ALTER TABLE ONLY public.superadmins
    ADD CONSTRAINT superadmins_email_key16 UNIQUE (email);


--
-- Name: superadmins superadmins_email_key17; Type: CONSTRAINT; Schema: public; Owner: fintech_user
--

ALTER TABLE ONLY public.superadmins
    ADD CONSTRAINT superadmins_email_key17 UNIQUE (email);


--
-- Name: superadmins superadmins_email_key18; Type: CONSTRAINT; Schema: public; Owner: fintech_user
--

ALTER TABLE ONLY public.superadmins
    ADD CONSTRAINT superadmins_email_key18 UNIQUE (email);


--
-- Name: superadmins superadmins_email_key19; Type: CONSTRAINT; Schema: public; Owner: fintech_user
--

ALTER TABLE ONLY public.superadmins
    ADD CONSTRAINT superadmins_email_key19 UNIQUE (email);


--
-- Name: superadmins superadmins_email_key2; Type: CONSTRAINT; Schema: public; Owner: fintech_user
--

ALTER TABLE ONLY public.superadmins
    ADD CONSTRAINT superadmins_email_key2 UNIQUE (email);


--
-- Name: superadmins superadmins_email_key20; Type: CONSTRAINT; Schema: public; Owner: fintech_user
--

ALTER TABLE ONLY public.superadmins
    ADD CONSTRAINT superadmins_email_key20 UNIQUE (email);


--
-- Name: superadmins superadmins_email_key21; Type: CONSTRAINT; Schema: public; Owner: fintech_user
--

ALTER TABLE ONLY public.superadmins
    ADD CONSTRAINT superadmins_email_key21 UNIQUE (email);


--
-- Name: superadmins superadmins_email_key22; Type: CONSTRAINT; Schema: public; Owner: fintech_user
--

ALTER TABLE ONLY public.superadmins
    ADD CONSTRAINT superadmins_email_key22 UNIQUE (email);


--
-- Name: superadmins superadmins_email_key23; Type: CONSTRAINT; Schema: public; Owner: fintech_user
--

ALTER TABLE ONLY public.superadmins
    ADD CONSTRAINT superadmins_email_key23 UNIQUE (email);


--
-- Name: superadmins superadmins_email_key24; Type: CONSTRAINT; Schema: public; Owner: fintech_user
--

ALTER TABLE ONLY public.superadmins
    ADD CONSTRAINT superadmins_email_key24 UNIQUE (email);


--
-- Name: superadmins superadmins_email_key25; Type: CONSTRAINT; Schema: public; Owner: fintech_user
--

ALTER TABLE ONLY public.superadmins
    ADD CONSTRAINT superadmins_email_key25 UNIQUE (email);


--
-- Name: superadmins superadmins_email_key26; Type: CONSTRAINT; Schema: public; Owner: fintech_user
--

ALTER TABLE ONLY public.superadmins
    ADD CONSTRAINT superadmins_email_key26 UNIQUE (email);


--
-- Name: superadmins superadmins_email_key27; Type: CONSTRAINT; Schema: public; Owner: fintech_user
--

ALTER TABLE ONLY public.superadmins
    ADD CONSTRAINT superadmins_email_key27 UNIQUE (email);


--
-- Name: superadmins superadmins_email_key28; Type: CONSTRAINT; Schema: public; Owner: fintech_user
--

ALTER TABLE ONLY public.superadmins
    ADD CONSTRAINT superadmins_email_key28 UNIQUE (email);


--
-- Name: superadmins superadmins_email_key29; Type: CONSTRAINT; Schema: public; Owner: fintech_user
--

ALTER TABLE ONLY public.superadmins
    ADD CONSTRAINT superadmins_email_key29 UNIQUE (email);


--
-- Name: superadmins superadmins_email_key3; Type: CONSTRAINT; Schema: public; Owner: fintech_user
--

ALTER TABLE ONLY public.superadmins
    ADD CONSTRAINT superadmins_email_key3 UNIQUE (email);


--
-- Name: superadmins superadmins_email_key30; Type: CONSTRAINT; Schema: public; Owner: fintech_user
--

ALTER TABLE ONLY public.superadmins
    ADD CONSTRAINT superadmins_email_key30 UNIQUE (email);


--
-- Name: superadmins superadmins_email_key31; Type: CONSTRAINT; Schema: public; Owner: fintech_user
--

ALTER TABLE ONLY public.superadmins
    ADD CONSTRAINT superadmins_email_key31 UNIQUE (email);


--
-- Name: superadmins superadmins_email_key32; Type: CONSTRAINT; Schema: public; Owner: fintech_user
--

ALTER TABLE ONLY public.superadmins
    ADD CONSTRAINT superadmins_email_key32 UNIQUE (email);


--
-- Name: superadmins superadmins_email_key33; Type: CONSTRAINT; Schema: public; Owner: fintech_user
--

ALTER TABLE ONLY public.superadmins
    ADD CONSTRAINT superadmins_email_key33 UNIQUE (email);


--
-- Name: superadmins superadmins_email_key34; Type: CONSTRAINT; Schema: public; Owner: fintech_user
--

ALTER TABLE ONLY public.superadmins
    ADD CONSTRAINT superadmins_email_key34 UNIQUE (email);


--
-- Name: superadmins superadmins_email_key35; Type: CONSTRAINT; Schema: public; Owner: fintech_user
--

ALTER TABLE ONLY public.superadmins
    ADD CONSTRAINT superadmins_email_key35 UNIQUE (email);


--
-- Name: superadmins superadmins_email_key36; Type: CONSTRAINT; Schema: public; Owner: fintech_user
--

ALTER TABLE ONLY public.superadmins
    ADD CONSTRAINT superadmins_email_key36 UNIQUE (email);


--
-- Name: superadmins superadmins_email_key37; Type: CONSTRAINT; Schema: public; Owner: fintech_user
--

ALTER TABLE ONLY public.superadmins
    ADD CONSTRAINT superadmins_email_key37 UNIQUE (email);


--
-- Name: superadmins superadmins_email_key38; Type: CONSTRAINT; Schema: public; Owner: fintech_user
--

ALTER TABLE ONLY public.superadmins
    ADD CONSTRAINT superadmins_email_key38 UNIQUE (email);


--
-- Name: superadmins superadmins_email_key39; Type: CONSTRAINT; Schema: public; Owner: fintech_user
--

ALTER TABLE ONLY public.superadmins
    ADD CONSTRAINT superadmins_email_key39 UNIQUE (email);


--
-- Name: superadmins superadmins_email_key4; Type: CONSTRAINT; Schema: public; Owner: fintech_user
--

ALTER TABLE ONLY public.superadmins
    ADD CONSTRAINT superadmins_email_key4 UNIQUE (email);


--
-- Name: superadmins superadmins_email_key40; Type: CONSTRAINT; Schema: public; Owner: fintech_user
--

ALTER TABLE ONLY public.superadmins
    ADD CONSTRAINT superadmins_email_key40 UNIQUE (email);


--
-- Name: superadmins superadmins_email_key41; Type: CONSTRAINT; Schema: public; Owner: fintech_user
--

ALTER TABLE ONLY public.superadmins
    ADD CONSTRAINT superadmins_email_key41 UNIQUE (email);


--
-- Name: superadmins superadmins_email_key42; Type: CONSTRAINT; Schema: public; Owner: fintech_user
--

ALTER TABLE ONLY public.superadmins
    ADD CONSTRAINT superadmins_email_key42 UNIQUE (email);


--
-- Name: superadmins superadmins_email_key43; Type: CONSTRAINT; Schema: public; Owner: fintech_user
--

ALTER TABLE ONLY public.superadmins
    ADD CONSTRAINT superadmins_email_key43 UNIQUE (email);


--
-- Name: superadmins superadmins_email_key5; Type: CONSTRAINT; Schema: public; Owner: fintech_user
--

ALTER TABLE ONLY public.superadmins
    ADD CONSTRAINT superadmins_email_key5 UNIQUE (email);


--
-- Name: superadmins superadmins_email_key6; Type: CONSTRAINT; Schema: public; Owner: fintech_user
--

ALTER TABLE ONLY public.superadmins
    ADD CONSTRAINT superadmins_email_key6 UNIQUE (email);


--
-- Name: superadmins superadmins_email_key7; Type: CONSTRAINT; Schema: public; Owner: fintech_user
--

ALTER TABLE ONLY public.superadmins
    ADD CONSTRAINT superadmins_email_key7 UNIQUE (email);


--
-- Name: superadmins superadmins_email_key8; Type: CONSTRAINT; Schema: public; Owner: fintech_user
--

ALTER TABLE ONLY public.superadmins
    ADD CONSTRAINT superadmins_email_key8 UNIQUE (email);


--
-- Name: superadmins superadmins_email_key9; Type: CONSTRAINT; Schema: public; Owner: fintech_user
--

ALTER TABLE ONLY public.superadmins
    ADD CONSTRAINT superadmins_email_key9 UNIQUE (email);


--
-- Name: superadmins superadmins_pkey; Type: CONSTRAINT; Schema: public; Owner: fintech_user
--

ALTER TABLE ONLY public.superadmins
    ADD CONSTRAINT superadmins_pkey PRIMARY KEY (id);


--
-- Name: tenants tenants_pkey; Type: CONSTRAINT; Schema: public; Owner: fintech_user
--

ALTER TABLE ONLY public.tenants
    ADD CONSTRAINT tenants_pkey PRIMARY KEY (id);


--
-- Name: tenants tenants_subdomain_key; Type: CONSTRAINT; Schema: public; Owner: fintech_user
--

ALTER TABLE ONLY public.tenants
    ADD CONSTRAINT tenants_subdomain_key UNIQUE (subdomain);


--
-- Name: tenants tenants_subdomain_key1; Type: CONSTRAINT; Schema: public; Owner: fintech_user
--

ALTER TABLE ONLY public.tenants
    ADD CONSTRAINT tenants_subdomain_key1 UNIQUE (subdomain);


--
-- Name: tenants tenants_subdomain_key10; Type: CONSTRAINT; Schema: public; Owner: fintech_user
--

ALTER TABLE ONLY public.tenants
    ADD CONSTRAINT tenants_subdomain_key10 UNIQUE (subdomain);


--
-- Name: tenants tenants_subdomain_key11; Type: CONSTRAINT; Schema: public; Owner: fintech_user
--

ALTER TABLE ONLY public.tenants
    ADD CONSTRAINT tenants_subdomain_key11 UNIQUE (subdomain);


--
-- Name: tenants tenants_subdomain_key12; Type: CONSTRAINT; Schema: public; Owner: fintech_user
--

ALTER TABLE ONLY public.tenants
    ADD CONSTRAINT tenants_subdomain_key12 UNIQUE (subdomain);


--
-- Name: tenants tenants_subdomain_key13; Type: CONSTRAINT; Schema: public; Owner: fintech_user
--

ALTER TABLE ONLY public.tenants
    ADD CONSTRAINT tenants_subdomain_key13 UNIQUE (subdomain);


--
-- Name: tenants tenants_subdomain_key14; Type: CONSTRAINT; Schema: public; Owner: fintech_user
--

ALTER TABLE ONLY public.tenants
    ADD CONSTRAINT tenants_subdomain_key14 UNIQUE (subdomain);


--
-- Name: tenants tenants_subdomain_key15; Type: CONSTRAINT; Schema: public; Owner: fintech_user
--

ALTER TABLE ONLY public.tenants
    ADD CONSTRAINT tenants_subdomain_key15 UNIQUE (subdomain);


--
-- Name: tenants tenants_subdomain_key16; Type: CONSTRAINT; Schema: public; Owner: fintech_user
--

ALTER TABLE ONLY public.tenants
    ADD CONSTRAINT tenants_subdomain_key16 UNIQUE (subdomain);


--
-- Name: tenants tenants_subdomain_key17; Type: CONSTRAINT; Schema: public; Owner: fintech_user
--

ALTER TABLE ONLY public.tenants
    ADD CONSTRAINT tenants_subdomain_key17 UNIQUE (subdomain);


--
-- Name: tenants tenants_subdomain_key18; Type: CONSTRAINT; Schema: public; Owner: fintech_user
--

ALTER TABLE ONLY public.tenants
    ADD CONSTRAINT tenants_subdomain_key18 UNIQUE (subdomain);


--
-- Name: tenants tenants_subdomain_key19; Type: CONSTRAINT; Schema: public; Owner: fintech_user
--

ALTER TABLE ONLY public.tenants
    ADD CONSTRAINT tenants_subdomain_key19 UNIQUE (subdomain);


--
-- Name: tenants tenants_subdomain_key2; Type: CONSTRAINT; Schema: public; Owner: fintech_user
--

ALTER TABLE ONLY public.tenants
    ADD CONSTRAINT tenants_subdomain_key2 UNIQUE (subdomain);


--
-- Name: tenants tenants_subdomain_key20; Type: CONSTRAINT; Schema: public; Owner: fintech_user
--

ALTER TABLE ONLY public.tenants
    ADD CONSTRAINT tenants_subdomain_key20 UNIQUE (subdomain);


--
-- Name: tenants tenants_subdomain_key21; Type: CONSTRAINT; Schema: public; Owner: fintech_user
--

ALTER TABLE ONLY public.tenants
    ADD CONSTRAINT tenants_subdomain_key21 UNIQUE (subdomain);


--
-- Name: tenants tenants_subdomain_key22; Type: CONSTRAINT; Schema: public; Owner: fintech_user
--

ALTER TABLE ONLY public.tenants
    ADD CONSTRAINT tenants_subdomain_key22 UNIQUE (subdomain);


--
-- Name: tenants tenants_subdomain_key23; Type: CONSTRAINT; Schema: public; Owner: fintech_user
--

ALTER TABLE ONLY public.tenants
    ADD CONSTRAINT tenants_subdomain_key23 UNIQUE (subdomain);


--
-- Name: tenants tenants_subdomain_key24; Type: CONSTRAINT; Schema: public; Owner: fintech_user
--

ALTER TABLE ONLY public.tenants
    ADD CONSTRAINT tenants_subdomain_key24 UNIQUE (subdomain);


--
-- Name: tenants tenants_subdomain_key25; Type: CONSTRAINT; Schema: public; Owner: fintech_user
--

ALTER TABLE ONLY public.tenants
    ADD CONSTRAINT tenants_subdomain_key25 UNIQUE (subdomain);


--
-- Name: tenants tenants_subdomain_key26; Type: CONSTRAINT; Schema: public; Owner: fintech_user
--

ALTER TABLE ONLY public.tenants
    ADD CONSTRAINT tenants_subdomain_key26 UNIQUE (subdomain);


--
-- Name: tenants tenants_subdomain_key27; Type: CONSTRAINT; Schema: public; Owner: fintech_user
--

ALTER TABLE ONLY public.tenants
    ADD CONSTRAINT tenants_subdomain_key27 UNIQUE (subdomain);


--
-- Name: tenants tenants_subdomain_key28; Type: CONSTRAINT; Schema: public; Owner: fintech_user
--

ALTER TABLE ONLY public.tenants
    ADD CONSTRAINT tenants_subdomain_key28 UNIQUE (subdomain);


--
-- Name: tenants tenants_subdomain_key29; Type: CONSTRAINT; Schema: public; Owner: fintech_user
--

ALTER TABLE ONLY public.tenants
    ADD CONSTRAINT tenants_subdomain_key29 UNIQUE (subdomain);


--
-- Name: tenants tenants_subdomain_key3; Type: CONSTRAINT; Schema: public; Owner: fintech_user
--

ALTER TABLE ONLY public.tenants
    ADD CONSTRAINT tenants_subdomain_key3 UNIQUE (subdomain);


--
-- Name: tenants tenants_subdomain_key30; Type: CONSTRAINT; Schema: public; Owner: fintech_user
--

ALTER TABLE ONLY public.tenants
    ADD CONSTRAINT tenants_subdomain_key30 UNIQUE (subdomain);


--
-- Name: tenants tenants_subdomain_key31; Type: CONSTRAINT; Schema: public; Owner: fintech_user
--

ALTER TABLE ONLY public.tenants
    ADD CONSTRAINT tenants_subdomain_key31 UNIQUE (subdomain);


--
-- Name: tenants tenants_subdomain_key32; Type: CONSTRAINT; Schema: public; Owner: fintech_user
--

ALTER TABLE ONLY public.tenants
    ADD CONSTRAINT tenants_subdomain_key32 UNIQUE (subdomain);


--
-- Name: tenants tenants_subdomain_key33; Type: CONSTRAINT; Schema: public; Owner: fintech_user
--

ALTER TABLE ONLY public.tenants
    ADD CONSTRAINT tenants_subdomain_key33 UNIQUE (subdomain);


--
-- Name: tenants tenants_subdomain_key34; Type: CONSTRAINT; Schema: public; Owner: fintech_user
--

ALTER TABLE ONLY public.tenants
    ADD CONSTRAINT tenants_subdomain_key34 UNIQUE (subdomain);


--
-- Name: tenants tenants_subdomain_key35; Type: CONSTRAINT; Schema: public; Owner: fintech_user
--

ALTER TABLE ONLY public.tenants
    ADD CONSTRAINT tenants_subdomain_key35 UNIQUE (subdomain);


--
-- Name: tenants tenants_subdomain_key36; Type: CONSTRAINT; Schema: public; Owner: fintech_user
--

ALTER TABLE ONLY public.tenants
    ADD CONSTRAINT tenants_subdomain_key36 UNIQUE (subdomain);


--
-- Name: tenants tenants_subdomain_key37; Type: CONSTRAINT; Schema: public; Owner: fintech_user
--

ALTER TABLE ONLY public.tenants
    ADD CONSTRAINT tenants_subdomain_key37 UNIQUE (subdomain);


--
-- Name: tenants tenants_subdomain_key38; Type: CONSTRAINT; Schema: public; Owner: fintech_user
--

ALTER TABLE ONLY public.tenants
    ADD CONSTRAINT tenants_subdomain_key38 UNIQUE (subdomain);


--
-- Name: tenants tenants_subdomain_key39; Type: CONSTRAINT; Schema: public; Owner: fintech_user
--

ALTER TABLE ONLY public.tenants
    ADD CONSTRAINT tenants_subdomain_key39 UNIQUE (subdomain);


--
-- Name: tenants tenants_subdomain_key4; Type: CONSTRAINT; Schema: public; Owner: fintech_user
--

ALTER TABLE ONLY public.tenants
    ADD CONSTRAINT tenants_subdomain_key4 UNIQUE (subdomain);


--
-- Name: tenants tenants_subdomain_key40; Type: CONSTRAINT; Schema: public; Owner: fintech_user
--

ALTER TABLE ONLY public.tenants
    ADD CONSTRAINT tenants_subdomain_key40 UNIQUE (subdomain);


--
-- Name: tenants tenants_subdomain_key41; Type: CONSTRAINT; Schema: public; Owner: fintech_user
--

ALTER TABLE ONLY public.tenants
    ADD CONSTRAINT tenants_subdomain_key41 UNIQUE (subdomain);


--
-- Name: tenants tenants_subdomain_key42; Type: CONSTRAINT; Schema: public; Owner: fintech_user
--

ALTER TABLE ONLY public.tenants
    ADD CONSTRAINT tenants_subdomain_key42 UNIQUE (subdomain);


--
-- Name: tenants tenants_subdomain_key43; Type: CONSTRAINT; Schema: public; Owner: fintech_user
--

ALTER TABLE ONLY public.tenants
    ADD CONSTRAINT tenants_subdomain_key43 UNIQUE (subdomain);


--
-- Name: tenants tenants_subdomain_key5; Type: CONSTRAINT; Schema: public; Owner: fintech_user
--

ALTER TABLE ONLY public.tenants
    ADD CONSTRAINT tenants_subdomain_key5 UNIQUE (subdomain);


--
-- Name: tenants tenants_subdomain_key6; Type: CONSTRAINT; Schema: public; Owner: fintech_user
--

ALTER TABLE ONLY public.tenants
    ADD CONSTRAINT tenants_subdomain_key6 UNIQUE (subdomain);


--
-- Name: tenants tenants_subdomain_key7; Type: CONSTRAINT; Schema: public; Owner: fintech_user
--

ALTER TABLE ONLY public.tenants
    ADD CONSTRAINT tenants_subdomain_key7 UNIQUE (subdomain);


--
-- Name: tenants tenants_subdomain_key8; Type: CONSTRAINT; Schema: public; Owner: fintech_user
--

ALTER TABLE ONLY public.tenants
    ADD CONSTRAINT tenants_subdomain_key8 UNIQUE (subdomain);


--
-- Name: tenants tenants_subdomain_key9; Type: CONSTRAINT; Schema: public; Owner: fintech_user
--

ALTER TABLE ONLY public.tenants
    ADD CONSTRAINT tenants_subdomain_key9 UNIQUE (subdomain);


--
-- Name: tenants tenants_tenant_key_key; Type: CONSTRAINT; Schema: public; Owner: fintech_user
--

ALTER TABLE ONLY public.tenants
    ADD CONSTRAINT tenants_tenant_key_key UNIQUE (tenant_key);


--
-- Name: tenants tenants_tenant_key_key1; Type: CONSTRAINT; Schema: public; Owner: fintech_user
--

ALTER TABLE ONLY public.tenants
    ADD CONSTRAINT tenants_tenant_key_key1 UNIQUE (tenant_key);


--
-- Name: tenants tenants_tenant_key_key10; Type: CONSTRAINT; Schema: public; Owner: fintech_user
--

ALTER TABLE ONLY public.tenants
    ADD CONSTRAINT tenants_tenant_key_key10 UNIQUE (tenant_key);


--
-- Name: tenants tenants_tenant_key_key11; Type: CONSTRAINT; Schema: public; Owner: fintech_user
--

ALTER TABLE ONLY public.tenants
    ADD CONSTRAINT tenants_tenant_key_key11 UNIQUE (tenant_key);


--
-- Name: tenants tenants_tenant_key_key12; Type: CONSTRAINT; Schema: public; Owner: fintech_user
--

ALTER TABLE ONLY public.tenants
    ADD CONSTRAINT tenants_tenant_key_key12 UNIQUE (tenant_key);


--
-- Name: tenants tenants_tenant_key_key13; Type: CONSTRAINT; Schema: public; Owner: fintech_user
--

ALTER TABLE ONLY public.tenants
    ADD CONSTRAINT tenants_tenant_key_key13 UNIQUE (tenant_key);


--
-- Name: tenants tenants_tenant_key_key14; Type: CONSTRAINT; Schema: public; Owner: fintech_user
--

ALTER TABLE ONLY public.tenants
    ADD CONSTRAINT tenants_tenant_key_key14 UNIQUE (tenant_key);


--
-- Name: tenants tenants_tenant_key_key15; Type: CONSTRAINT; Schema: public; Owner: fintech_user
--

ALTER TABLE ONLY public.tenants
    ADD CONSTRAINT tenants_tenant_key_key15 UNIQUE (tenant_key);


--
-- Name: tenants tenants_tenant_key_key16; Type: CONSTRAINT; Schema: public; Owner: fintech_user
--

ALTER TABLE ONLY public.tenants
    ADD CONSTRAINT tenants_tenant_key_key16 UNIQUE (tenant_key);


--
-- Name: tenants tenants_tenant_key_key17; Type: CONSTRAINT; Schema: public; Owner: fintech_user
--

ALTER TABLE ONLY public.tenants
    ADD CONSTRAINT tenants_tenant_key_key17 UNIQUE (tenant_key);


--
-- Name: tenants tenants_tenant_key_key18; Type: CONSTRAINT; Schema: public; Owner: fintech_user
--

ALTER TABLE ONLY public.tenants
    ADD CONSTRAINT tenants_tenant_key_key18 UNIQUE (tenant_key);


--
-- Name: tenants tenants_tenant_key_key19; Type: CONSTRAINT; Schema: public; Owner: fintech_user
--

ALTER TABLE ONLY public.tenants
    ADD CONSTRAINT tenants_tenant_key_key19 UNIQUE (tenant_key);


--
-- Name: tenants tenants_tenant_key_key2; Type: CONSTRAINT; Schema: public; Owner: fintech_user
--

ALTER TABLE ONLY public.tenants
    ADD CONSTRAINT tenants_tenant_key_key2 UNIQUE (tenant_key);


--
-- Name: tenants tenants_tenant_key_key20; Type: CONSTRAINT; Schema: public; Owner: fintech_user
--

ALTER TABLE ONLY public.tenants
    ADD CONSTRAINT tenants_tenant_key_key20 UNIQUE (tenant_key);


--
-- Name: tenants tenants_tenant_key_key21; Type: CONSTRAINT; Schema: public; Owner: fintech_user
--

ALTER TABLE ONLY public.tenants
    ADD CONSTRAINT tenants_tenant_key_key21 UNIQUE (tenant_key);


--
-- Name: tenants tenants_tenant_key_key22; Type: CONSTRAINT; Schema: public; Owner: fintech_user
--

ALTER TABLE ONLY public.tenants
    ADD CONSTRAINT tenants_tenant_key_key22 UNIQUE (tenant_key);


--
-- Name: tenants tenants_tenant_key_key23; Type: CONSTRAINT; Schema: public; Owner: fintech_user
--

ALTER TABLE ONLY public.tenants
    ADD CONSTRAINT tenants_tenant_key_key23 UNIQUE (tenant_key);


--
-- Name: tenants tenants_tenant_key_key24; Type: CONSTRAINT; Schema: public; Owner: fintech_user
--

ALTER TABLE ONLY public.tenants
    ADD CONSTRAINT tenants_tenant_key_key24 UNIQUE (tenant_key);


--
-- Name: tenants tenants_tenant_key_key25; Type: CONSTRAINT; Schema: public; Owner: fintech_user
--

ALTER TABLE ONLY public.tenants
    ADD CONSTRAINT tenants_tenant_key_key25 UNIQUE (tenant_key);


--
-- Name: tenants tenants_tenant_key_key26; Type: CONSTRAINT; Schema: public; Owner: fintech_user
--

ALTER TABLE ONLY public.tenants
    ADD CONSTRAINT tenants_tenant_key_key26 UNIQUE (tenant_key);


--
-- Name: tenants tenants_tenant_key_key27; Type: CONSTRAINT; Schema: public; Owner: fintech_user
--

ALTER TABLE ONLY public.tenants
    ADD CONSTRAINT tenants_tenant_key_key27 UNIQUE (tenant_key);


--
-- Name: tenants tenants_tenant_key_key28; Type: CONSTRAINT; Schema: public; Owner: fintech_user
--

ALTER TABLE ONLY public.tenants
    ADD CONSTRAINT tenants_tenant_key_key28 UNIQUE (tenant_key);


--
-- Name: tenants tenants_tenant_key_key29; Type: CONSTRAINT; Schema: public; Owner: fintech_user
--

ALTER TABLE ONLY public.tenants
    ADD CONSTRAINT tenants_tenant_key_key29 UNIQUE (tenant_key);


--
-- Name: tenants tenants_tenant_key_key3; Type: CONSTRAINT; Schema: public; Owner: fintech_user
--

ALTER TABLE ONLY public.tenants
    ADD CONSTRAINT tenants_tenant_key_key3 UNIQUE (tenant_key);


--
-- Name: tenants tenants_tenant_key_key30; Type: CONSTRAINT; Schema: public; Owner: fintech_user
--

ALTER TABLE ONLY public.tenants
    ADD CONSTRAINT tenants_tenant_key_key30 UNIQUE (tenant_key);


--
-- Name: tenants tenants_tenant_key_key31; Type: CONSTRAINT; Schema: public; Owner: fintech_user
--

ALTER TABLE ONLY public.tenants
    ADD CONSTRAINT tenants_tenant_key_key31 UNIQUE (tenant_key);


--
-- Name: tenants tenants_tenant_key_key32; Type: CONSTRAINT; Schema: public; Owner: fintech_user
--

ALTER TABLE ONLY public.tenants
    ADD CONSTRAINT tenants_tenant_key_key32 UNIQUE (tenant_key);


--
-- Name: tenants tenants_tenant_key_key33; Type: CONSTRAINT; Schema: public; Owner: fintech_user
--

ALTER TABLE ONLY public.tenants
    ADD CONSTRAINT tenants_tenant_key_key33 UNIQUE (tenant_key);


--
-- Name: tenants tenants_tenant_key_key34; Type: CONSTRAINT; Schema: public; Owner: fintech_user
--

ALTER TABLE ONLY public.tenants
    ADD CONSTRAINT tenants_tenant_key_key34 UNIQUE (tenant_key);


--
-- Name: tenants tenants_tenant_key_key35; Type: CONSTRAINT; Schema: public; Owner: fintech_user
--

ALTER TABLE ONLY public.tenants
    ADD CONSTRAINT tenants_tenant_key_key35 UNIQUE (tenant_key);


--
-- Name: tenants tenants_tenant_key_key36; Type: CONSTRAINT; Schema: public; Owner: fintech_user
--

ALTER TABLE ONLY public.tenants
    ADD CONSTRAINT tenants_tenant_key_key36 UNIQUE (tenant_key);


--
-- Name: tenants tenants_tenant_key_key37; Type: CONSTRAINT; Schema: public; Owner: fintech_user
--

ALTER TABLE ONLY public.tenants
    ADD CONSTRAINT tenants_tenant_key_key37 UNIQUE (tenant_key);


--
-- Name: tenants tenants_tenant_key_key38; Type: CONSTRAINT; Schema: public; Owner: fintech_user
--

ALTER TABLE ONLY public.tenants
    ADD CONSTRAINT tenants_tenant_key_key38 UNIQUE (tenant_key);


--
-- Name: tenants tenants_tenant_key_key39; Type: CONSTRAINT; Schema: public; Owner: fintech_user
--

ALTER TABLE ONLY public.tenants
    ADD CONSTRAINT tenants_tenant_key_key39 UNIQUE (tenant_key);


--
-- Name: tenants tenants_tenant_key_key4; Type: CONSTRAINT; Schema: public; Owner: fintech_user
--

ALTER TABLE ONLY public.tenants
    ADD CONSTRAINT tenants_tenant_key_key4 UNIQUE (tenant_key);


--
-- Name: tenants tenants_tenant_key_key40; Type: CONSTRAINT; Schema: public; Owner: fintech_user
--

ALTER TABLE ONLY public.tenants
    ADD CONSTRAINT tenants_tenant_key_key40 UNIQUE (tenant_key);


--
-- Name: tenants tenants_tenant_key_key41; Type: CONSTRAINT; Schema: public; Owner: fintech_user
--

ALTER TABLE ONLY public.tenants
    ADD CONSTRAINT tenants_tenant_key_key41 UNIQUE (tenant_key);


--
-- Name: tenants tenants_tenant_key_key42; Type: CONSTRAINT; Schema: public; Owner: fintech_user
--

ALTER TABLE ONLY public.tenants
    ADD CONSTRAINT tenants_tenant_key_key42 UNIQUE (tenant_key);


--
-- Name: tenants tenants_tenant_key_key43; Type: CONSTRAINT; Schema: public; Owner: fintech_user
--

ALTER TABLE ONLY public.tenants
    ADD CONSTRAINT tenants_tenant_key_key43 UNIQUE (tenant_key);


--
-- Name: tenants tenants_tenant_key_key44; Type: CONSTRAINT; Schema: public; Owner: fintech_user
--

ALTER TABLE ONLY public.tenants
    ADD CONSTRAINT tenants_tenant_key_key44 UNIQUE (tenant_key);


--
-- Name: tenants tenants_tenant_key_key5; Type: CONSTRAINT; Schema: public; Owner: fintech_user
--

ALTER TABLE ONLY public.tenants
    ADD CONSTRAINT tenants_tenant_key_key5 UNIQUE (tenant_key);


--
-- Name: tenants tenants_tenant_key_key6; Type: CONSTRAINT; Schema: public; Owner: fintech_user
--

ALTER TABLE ONLY public.tenants
    ADD CONSTRAINT tenants_tenant_key_key6 UNIQUE (tenant_key);


--
-- Name: tenants tenants_tenant_key_key7; Type: CONSTRAINT; Schema: public; Owner: fintech_user
--

ALTER TABLE ONLY public.tenants
    ADD CONSTRAINT tenants_tenant_key_key7 UNIQUE (tenant_key);


--
-- Name: tenants tenants_tenant_key_key8; Type: CONSTRAINT; Schema: public; Owner: fintech_user
--

ALTER TABLE ONLY public.tenants
    ADD CONSTRAINT tenants_tenant_key_key8 UNIQUE (tenant_key);


--
-- Name: tenants tenants_tenant_key_key9; Type: CONSTRAINT; Schema: public; Owner: fintech_user
--

ALTER TABLE ONLY public.tenants
    ADD CONSTRAINT tenants_tenant_key_key9 UNIQUE (tenant_key);


--
-- Name: audit_logs audit_logs_superadmin_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: fintech_user
--

ALTER TABLE ONLY public.audit_logs
    ADD CONSTRAINT audit_logs_superadmin_id_fkey FOREIGN KEY (superadmin_id) REFERENCES public.superadmins(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: audit_logs audit_logs_tenant_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: fintech_user
--

ALTER TABLE ONLY public.audit_logs
    ADD CONSTRAINT audit_logs_tenant_id_fkey FOREIGN KEY (tenant_id) REFERENCES public.tenants(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: ip_whitelists ip_whitelists_tenant_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: fintech_user
--

ALTER TABLE ONLY public.ip_whitelists
    ADD CONSTRAINT ip_whitelists_tenant_id_fkey FOREIGN KEY (tenant_id) REFERENCES public.tenants(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: licenses licenses_tenant_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: fintech_user
--

ALTER TABLE ONLY public.licenses
    ADD CONSTRAINT licenses_tenant_id_fkey FOREIGN KEY (tenant_id) REFERENCES public.tenants(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: payment_submissions payment_submissions_subscription_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: fintech_user
--

ALTER TABLE ONLY public.payment_submissions
    ADD CONSTRAINT payment_submissions_subscription_id_fkey FOREIGN KEY (subscription_id) REFERENCES public.subscriptions(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: payment_submissions payment_submissions_tenant_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: fintech_user
--

ALTER TABLE ONLY public.payment_submissions
    ADD CONSTRAINT payment_submissions_tenant_id_fkey FOREIGN KEY (tenant_id) REFERENCES public.tenants(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: payment_verifications payment_verifications_payment_submission_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: fintech_user
--

ALTER TABLE ONLY public.payment_verifications
    ADD CONSTRAINT payment_verifications_payment_submission_id_fkey FOREIGN KEY (payment_submission_id) REFERENCES public.payment_submissions(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: payment_verifications payment_verifications_superadmin_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: fintech_user
--

ALTER TABLE ONLY public.payment_verifications
    ADD CONSTRAINT payment_verifications_superadmin_id_fkey FOREIGN KEY (superadmin_id) REFERENCES public.superadmins(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: subscriptions subscriptions_tenant_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: fintech_user
--

ALTER TABLE ONLY public.subscriptions
    ADD CONSTRAINT subscriptions_tenant_id_fkey FOREIGN KEY (tenant_id) REFERENCES public.tenants(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- PostgreSQL database dump complete
--

\unrestrict myvve3xpPs6h9nKe2EMB9jXXPoM6RCO4bWVcqFzn8GTjaT6i0VXo3TRAwZxxewg

