--
-- PostgreSQL database dump
--

\restrict oiqNnR6KxP4frUb1sFHRmtQj8eJlubu7cmQL0y6BLDXVyRZ8g9XhSZaimdhMKaA

-- Dumped from database version 16.11
-- Dumped by pg_dump version 16.11

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

--
-- Name: enum_accounts_account_type; Type: TYPE; Schema: public; Owner: fintech_user
--

CREATE TYPE public.enum_accounts_account_type AS ENUM (
    'savings',
    'current',
    'fixed_deposit'
);


ALTER TYPE public.enum_accounts_account_type OWNER TO fintech_user;

--
-- Name: enum_accounts_status; Type: TYPE; Schema: public; Owner: fintech_user
--

CREATE TYPE public.enum_accounts_status AS ENUM (
    'active',
    'frozen',
    'closed'
);


ALTER TYPE public.enum_accounts_status OWNER TO fintech_user;

--
-- Name: enum_customers_account_type; Type: TYPE; Schema: public; Owner: fintech_user
--

CREATE TYPE public.enum_customers_account_type AS ENUM (
    'individual',
    'corporate'
);


ALTER TYPE public.enum_customers_account_type OWNER TO fintech_user;

--
-- Name: enum_customers_kyc_status; Type: TYPE; Schema: public; Owner: fintech_user
--

CREATE TYPE public.enum_customers_kyc_status AS ENUM (
    'pending',
    'verified',
    'rejected'
);


ALTER TYPE public.enum_customers_kyc_status OWNER TO fintech_user;

--
-- Name: enum_investments_status; Type: TYPE; Schema: public; Owner: fintech_user
--

CREATE TYPE public.enum_investments_status AS ENUM (
    'active',
    'partially_sold',
    'fully_realized'
);


ALTER TYPE public.enum_investments_status OWNER TO fintech_user;

--
-- Name: enum_investor_categories_status; Type: TYPE; Schema: public; Owner: fintech_user
--

CREATE TYPE public.enum_investor_categories_status AS ENUM (
    'active',
    'inactive'
);


ALTER TYPE public.enum_investor_categories_status OWNER TO fintech_user;

--
-- Name: enum_investors_status; Type: TYPE; Schema: public; Owner: fintech_user
--

CREATE TYPE public.enum_investors_status AS ENUM (
    'active',
    'inactive'
);


ALTER TYPE public.enum_investors_status OWNER TO fintech_user;

--
-- Name: enum_ipo_applications_status; Type: TYPE; Schema: public; Owner: fintech_user
--

CREATE TYPE public.enum_ipo_applications_status AS ENUM (
    'pending',
    'verified',
    'allotted',
    'rejected'
);


ALTER TYPE public.enum_ipo_applications_status OWNER TO fintech_user;

--
-- Name: enum_ipo_listings_status; Type: TYPE; Schema: public; Owner: fintech_user
--

CREATE TYPE public.enum_ipo_listings_status AS ENUM (
    'upcoming',
    'open',
    'closed',
    'allotted',
    'result_published'
);


ALTER TYPE public.enum_ipo_listings_status OWNER TO fintech_user;

--
-- Name: enum_users_role; Type: TYPE; Schema: public; Owner: fintech_user
--

CREATE TYPE public.enum_users_role AS ENUM (
    'admin',
    'maker',
    'checker',
    'investor'
);


ALTER TYPE public.enum_users_role OWNER TO fintech_user;

--
-- Name: enum_users_status; Type: TYPE; Schema: public; Owner: fintech_user
--

CREATE TYPE public.enum_users_status AS ENUM (
    'active',
    'inactive'
);


ALTER TYPE public.enum_users_status OWNER TO fintech_user;

SET default_tablespace = '';

SET default_table_access_method = heap;

--
-- Name: accounts; Type: TABLE; Schema: public; Owner: fintech_user
--

CREATE TABLE public.accounts (
    id integer NOT NULL,
    account_number character varying(13) NOT NULL,
    customer_id integer NOT NULL,
    account_type public.enum_accounts_account_type NOT NULL,
    balance numeric(15,2) DEFAULT 0,
    currency character varying(255) DEFAULT 'NPR'::character varying,
    status character varying(20) DEFAULT 'active'::character varying,
    opening_date date DEFAULT CURRENT_DATE,
    created_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP,
    updated_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP,
    blocked_amount numeric(15,2) DEFAULT 0,
    is_primary boolean DEFAULT false,
    account_name character varying(255),
    bank_name character varying(255),
    branch character varying(255),
    short_name character varying(50),
    demat_account_number character varying(255),
    meroshare_id character varying(255),
    account_category character varying(10) DEFAULT 'major'::character varying,
    held_balance numeric(15,2) DEFAULT 0.00,
    CONSTRAINT accounts_account_category_check CHECK (((account_category)::text = ANY ((ARRAY['major'::character varying, 'minor'::character varying])::text[]))),
    CONSTRAINT accounts_account_type_check CHECK (((account_type)::text = ANY (ARRAY[('savings'::character varying)::text, ('current'::character varying)::text, ('fixed_deposit'::character varying)::text]))),
    CONSTRAINT accounts_status_check CHECK (((status)::text = ANY ((ARRAY['active'::character varying, 'frozen'::character varying, 'closed'::character varying])::text[])))
);


ALTER TABLE public.accounts OWNER TO fintech_user;

--
-- Name: COLUMN accounts.short_name; Type: COMMENT; Schema: public; Owner: fintech_user
--

COMMENT ON COLUMN public.accounts.short_name IS 'Short identifier for account (e.g., RAM-001)';


--
-- Name: COLUMN accounts.demat_account_number; Type: COMMENT; Schema: public; Owner: fintech_user
--

COMMENT ON COLUMN public.accounts.demat_account_number IS 'Customer demat account number';


--
-- Name: COLUMN accounts.meroshare_id; Type: COMMENT; Schema: public; Owner: fintech_user
--

COMMENT ON COLUMN public.accounts.meroshare_id IS 'Customer Meroshare ID';


--
-- Name: COLUMN accounts.account_category; Type: COMMENT; Schema: public; Owner: fintech_user
--

COMMENT ON COLUMN public.accounts.account_category IS 'Account classification: major (18+) or minor (<18). Minor accounts are frozen when customer turns 18 until KYC is updated.';


--
-- Name: accounts_id_seq; Type: SEQUENCE; Schema: public; Owner: fintech_user
--

CREATE SEQUENCE public.accounts_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.accounts_id_seq OWNER TO fintech_user;

--
-- Name: accounts_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: fintech_user
--

ALTER SEQUENCE public.accounts_id_seq OWNED BY public.accounts.id;


--
-- Name: activity_logs; Type: TABLE; Schema: public; Owner: fintech_user
--

CREATE TABLE public.activity_logs (
    id uuid DEFAULT gen_random_uuid() NOT NULL,
    user_id uuid NOT NULL,
    action character varying(255) NOT NULL,
    entity_type character varying(50),
    entity_id character varying(255),
    details jsonb,
    ip_address character varying(45),
    created_at timestamp with time zone DEFAULT CURRENT_TIMESTAMP
);


ALTER TABLE public.activity_logs OWNER TO fintech_user;

--
-- Name: bank_configurations; Type: TABLE; Schema: public; Owner: fintech_user
--

CREATE TABLE public.bank_configurations (
    id integer NOT NULL,
    bank_name character varying(100) NOT NULL,
    charges_casba boolean DEFAULT false,
    casba_amount numeric(10,2) DEFAULT 5.00,
    is_active boolean DEFAULT true,
    created_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP,
    updated_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP
);


ALTER TABLE public.bank_configurations OWNER TO fintech_user;

--
-- Name: bank_configurations_id_seq; Type: SEQUENCE; Schema: public; Owner: fintech_user
--

CREATE SEQUENCE public.bank_configurations_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.bank_configurations_id_seq OWNER TO fintech_user;

--
-- Name: bank_configurations_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: fintech_user
--

ALTER SEQUENCE public.bank_configurations_id_seq OWNED BY public.bank_configurations.id;


--
-- Name: category_account_assignments; Type: TABLE; Schema: public; Owner: fintech_user
--

CREATE TABLE public.category_account_assignments (
    id integer NOT NULL,
    category_id integer NOT NULL,
    customer_id integer NOT NULL,
    account_id integer NOT NULL,
    assigned_by integer,
    assigned_at timestamp with time zone,
    created_at timestamp with time zone NOT NULL,
    updated_at timestamp with time zone NOT NULL
);


ALTER TABLE public.category_account_assignments OWNER TO fintech_user;

--
-- Name: category_account_assignments_id_seq; Type: SEQUENCE; Schema: public; Owner: fintech_user
--

CREATE SEQUENCE public.category_account_assignments_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.category_account_assignments_id_seq OWNER TO fintech_user;

--
-- Name: category_account_assignments_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: fintech_user
--

ALTER SEQUENCE public.category_account_assignments_id_seq OWNED BY public.category_account_assignments.id;


--
-- Name: customer_credentials; Type: TABLE; Schema: public; Owner: fintech_user
--

CREATE TABLE public.customer_credentials (
    id integer NOT NULL,
    customer_id integer NOT NULL,
    platform character varying(50) NOT NULL,
    login_id character varying(255) NOT NULL,
    password character varying(255) NOT NULL,
    status character varying(20) DEFAULT 'active'::character varying,
    updated_by integer,
    created_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP,
    updated_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP,
    CONSTRAINT customer_credentials_platform_check CHECK (((platform)::text = ANY ((ARRAY['mobile_banking'::character varying, 'meroshare'::character varying, 'tms'::character varying])::text[]))),
    CONSTRAINT customer_credentials_status_check CHECK (((status)::text = ANY ((ARRAY['active'::character varying, 'inactive'::character varying, 'locked'::character varying])::text[])))
);


ALTER TABLE public.customer_credentials OWNER TO fintech_user;

--
-- Name: customer_credentials_id_seq; Type: SEQUENCE; Schema: public; Owner: fintech_user
--

CREATE SEQUENCE public.customer_credentials_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.customer_credentials_id_seq OWNER TO fintech_user;

--
-- Name: customer_credentials_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: fintech_user
--

ALTER SEQUENCE public.customer_credentials_id_seq OWNED BY public.customer_credentials.id;


--
-- Name: customers; Type: TABLE; Schema: public; Owner: fintech_user
--

CREATE TABLE public.customers (
    id integer NOT NULL,
    customer_id character varying(255) NOT NULL,
    full_name character varying(255) NOT NULL,
    email character varying(255) NOT NULL,
    phone character varying(255) NOT NULL,
    address text,
    date_of_birth date,
    kyc_status character varying(50) DEFAULT 'pending'::character varying,
    account_type character varying(50),
    created_by integer,
    verified_by integer,
    created_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP,
    updated_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP,
    account_opening_date date,
    father_name character varying(255),
    grandfather_name character varying(255),
    mother_name character varying(255),
    spouse_name character varying(255),
    boid character varying(255),
    demat_open_date date,
    demat_expiry_date date,
    CONSTRAINT customers_account_type_check CHECK (((account_type)::text = ANY ((ARRAY['individual'::character varying, 'corporate'::character varying])::text[]))),
    CONSTRAINT customers_kyc_status_check CHECK (((kyc_status)::text = ANY ((ARRAY['pending'::character varying, 'verified'::character varying, 'rejected'::character varying])::text[])))
);


ALTER TABLE public.customers OWNER TO fintech_user;

--
-- Name: customers_id_seq; Type: SEQUENCE; Schema: public; Owner: fintech_user
--

CREATE SEQUENCE public.customers_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.customers_id_seq OWNER TO fintech_user;

--
-- Name: customers_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: fintech_user
--

ALTER SEQUENCE public.customers_id_seq OWNED BY public.customers.id;


--
-- Name: fees; Type: TABLE; Schema: public; Owner: fintech_user
--

CREATE TABLE public.fees (
    id integer NOT NULL,
    fee_id character varying(50) NOT NULL,
    customer_id integer NOT NULL,
    account_id integer,
    fee_type character varying(50) NOT NULL,
    amount numeric(10,2) NOT NULL,
    due_date date,
    paid_date date,
    status character varying(20) DEFAULT 'pending'::character varying,
    paid_from_distribution boolean DEFAULT false,
    distribution_id integer,
    created_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP,
    updated_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP,
    CONSTRAINT fees_fee_type_check CHECK (((fee_type)::text = ANY ((ARRAY['annual_fee'::character varying, 'demat_charge'::character varying, 'meroshare_charge'::character varying, 'renewal_fee'::character varying])::text[]))),
    CONSTRAINT fees_status_check CHECK (((status)::text = ANY ((ARRAY['pending'::character varying, 'paid'::character varying, 'waived'::character varying])::text[])))
);


ALTER TABLE public.fees OWNER TO fintech_user;

--
-- Name: TABLE fees; Type: COMMENT; Schema: public; Owner: fintech_user
--

COMMENT ON TABLE public.fees IS 'Tracks customer fees including annual, demat, meroshare, and renewal charges';


--
-- Name: fees_id_seq; Type: SEQUENCE; Schema: public; Owner: fintech_user
--

CREATE SEQUENCE public.fees_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.fees_id_seq OWNER TO fintech_user;

--
-- Name: fees_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: fintech_user
--

ALTER SEQUENCE public.fees_id_seq OWNED BY public.fees.id;


--
-- Name: holdings; Type: TABLE; Schema: public; Owner: fintech_user
--

CREATE TABLE public.holdings (
    id integer NOT NULL,
    holding_id character varying(255) NOT NULL,
    portfolio_id integer,
    stock_symbol character varying(20) NOT NULL,
    company_name character varying(255) NOT NULL,
    quantity integer NOT NULL,
    purchase_price numeric(10,2) NOT NULL,
    current_price numeric(10,2) NOT NULL,
    total_value numeric(15,2) GENERATED ALWAYS AS (((quantity)::numeric * current_price)) STORED,
    profit_loss_percent numeric(5,2),
    purchase_date date DEFAULT CURRENT_DATE,
    created_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP,
    updated_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP,
    investment_id integer,
    last_transaction_price numeric(10,2),
    last_closing_price numeric(10,2),
    total_profit numeric(15,2) DEFAULT 0.00,
    total_sold_quantity integer DEFAULT 0,
    average_sale_price numeric(10,2) DEFAULT 0.00
);


ALTER TABLE public.holdings OWNER TO fintech_user;

--
-- Name: COLUMN holdings.last_transaction_price; Type: COMMENT; Schema: public; Owner: fintech_user
--

COMMENT ON COLUMN public.holdings.last_transaction_price IS 'Last transaction price (LTP)';


--
-- Name: COLUMN holdings.last_closing_price; Type: COMMENT; Schema: public; Owner: fintech_user
--

COMMENT ON COLUMN public.holdings.last_closing_price IS 'Last closing price (LCP)';


--
-- Name: COLUMN holdings.total_profit; Type: COMMENT; Schema: public; Owner: fintech_user
--

COMMENT ON COLUMN public.holdings.total_profit IS 'Total realized profit/loss from sales of this holding';


--
-- Name: holdings_id_seq; Type: SEQUENCE; Schema: public; Owner: fintech_user
--

CREATE SEQUENCE public.holdings_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.holdings_id_seq OWNER TO fintech_user;

--
-- Name: holdings_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: fintech_user
--

ALTER SEQUENCE public.holdings_id_seq OWNED BY public.holdings.id;


--
-- Name: investments; Type: TABLE; Schema: public; Owner: fintech_user
--

CREATE TABLE public.investments (
    id integer NOT NULL,
    investment_id character varying(255) NOT NULL,
    investor_id integer NOT NULL,
    customer_id integer NOT NULL,
    account_id integer NOT NULL,
    ipo_application_id integer,
    principal_amount numeric(15,2) NOT NULL,
    shares_allocated integer DEFAULT 0,
    cost_per_share numeric(10,2),
    total_cost numeric(15,2),
    shares_held integer DEFAULT 0,
    current_market_price numeric(10,2) DEFAULT 0,
    current_value numeric(15,2) DEFAULT 0,
    total_sold_amount numeric(15,2) DEFAULT 0,
    investor_profit numeric(15,2) DEFAULT 0,
    customer_profit numeric(15,2) DEFAULT 0,
    admin_fee numeric(15,2) DEFAULT 0,
    status public.enum_investments_status DEFAULT 'active'::public.enum_investments_status,
    invested_at timestamp with time zone,
    created_at timestamp with time zone NOT NULL,
    updated_at timestamp with time zone NOT NULL
);


ALTER TABLE public.investments OWNER TO fintech_user;

--
-- Name: investments_id_seq; Type: SEQUENCE; Schema: public; Owner: fintech_user
--

CREATE SEQUENCE public.investments_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.investments_id_seq OWNER TO fintech_user;

--
-- Name: investments_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: fintech_user
--

ALTER SEQUENCE public.investments_id_seq OWNED BY public.investments.id;


--
-- Name: investor_account_assignments; Type: TABLE; Schema: public; Owner: fintech_user
--

CREATE TABLE public.investor_account_assignments (
    id integer NOT NULL,
    investor_id integer NOT NULL,
    account_id integer NOT NULL,
    customer_id integer NOT NULL,
    assigned_date timestamp without time zone DEFAULT CURRENT_TIMESTAMP,
    assigned_by integer,
    status character varying(20) DEFAULT 'active'::character varying,
    created_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP,
    updated_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP,
    CONSTRAINT investor_account_assignments_status_check CHECK (((status)::text = ANY ((ARRAY['active'::character varying, 'inactive'::character varying])::text[])))
);


ALTER TABLE public.investor_account_assignments OWNER TO fintech_user;

--
-- Name: TABLE investor_account_assignments; Type: COMMENT; Schema: public; Owner: fintech_user
--

COMMENT ON TABLE public.investor_account_assignments IS 'Links investors to customer accounts they manage';


--
-- Name: investor_account_assignments_id_seq; Type: SEQUENCE; Schema: public; Owner: fintech_user
--

CREATE SEQUENCE public.investor_account_assignments_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.investor_account_assignments_id_seq OWNER TO fintech_user;

--
-- Name: investor_account_assignments_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: fintech_user
--

ALTER SEQUENCE public.investor_account_assignments_id_seq OWNED BY public.investor_account_assignments.id;


--
-- Name: investor_categories; Type: TABLE; Schema: public; Owner: fintech_user
--

CREATE TABLE public.investor_categories (
    id integer NOT NULL,
    category_name character varying(255) NOT NULL,
    investor_id integer,
    description text,
    status public.enum_investor_categories_status DEFAULT 'active'::public.enum_investor_categories_status,
    created_at timestamp with time zone NOT NULL,
    updated_at timestamp with time zone NOT NULL
);


ALTER TABLE public.investor_categories OWNER TO fintech_user;

--
-- Name: investor_categories_id_seq; Type: SEQUENCE; Schema: public; Owner: fintech_user
--

CREATE SEQUENCE public.investor_categories_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.investor_categories_id_seq OWNER TO fintech_user;

--
-- Name: investor_categories_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: fintech_user
--

ALTER SEQUENCE public.investor_categories_id_seq OWNED BY public.investor_categories.id;


--
-- Name: investors; Type: TABLE; Schema: public; Owner: fintech_user
--

CREATE TABLE public.investors (
    id integer NOT NULL,
    investor_id character varying(255) NOT NULL,
    name character varying(255) NOT NULL,
    email character varying(255),
    phone character varying(255),
    total_capital numeric(15,2) DEFAULT 0,
    invested_amount numeric(15,2) DEFAULT 0,
    available_capital numeric(15,2) DEFAULT 0,
    total_profit numeric(15,2) DEFAULT 0,
    status public.enum_investors_status DEFAULT 'active'::public.enum_investors_status,
    created_by integer,
    created_at timestamp with time zone NOT NULL,
    updated_at timestamp with time zone NOT NULL,
    special_account_number character varying(13)
);


ALTER TABLE public.investors OWNER TO fintech_user;

--
-- Name: investors_id_seq; Type: SEQUENCE; Schema: public; Owner: fintech_user
--

CREATE SEQUENCE public.investors_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.investors_id_seq OWNER TO fintech_user;

--
-- Name: investors_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: fintech_user
--

ALTER SEQUENCE public.investors_id_seq OWNED BY public.investors.id;


--
-- Name: ipo_applications; Type: TABLE; Schema: public; Owner: fintech_user
--

CREATE TABLE public.ipo_applications (
    id integer NOT NULL,
    customer_id integer NOT NULL,
    company_name character varying(255) NOT NULL,
    quantity integer NOT NULL,
    price_per_share numeric(10,2) NOT NULL,
    total_amount numeric(15,2) NOT NULL,
    status public.enum_ipo_applications_status DEFAULT 'pending'::public.enum_ipo_applications_status,
    applied_at timestamp with time zone,
    verified_by integer,
    created_at timestamp with time zone NOT NULL,
    updated_at timestamp with time zone NOT NULL,
    ipo_listing_id integer,
    applied_by integer,
    verification_date timestamp without time zone,
    rejection_reason text,
    allotment_status character varying(20) DEFAULT 'pending'::character varying,
    allotment_quantity integer,
    allotment_date timestamp without time zone,
    account_id integer
);


ALTER TABLE public.ipo_applications OWNER TO fintech_user;

--
-- Name: COLUMN ipo_applications.allotment_status; Type: COMMENT; Schema: public; Owner: fintech_user
--

COMMENT ON COLUMN public.ipo_applications.allotment_status IS 'Status of IPO allotment: pending, allotted, or not_allotted';


--
-- Name: COLUMN ipo_applications.allotment_quantity; Type: COMMENT; Schema: public; Owner: fintech_user
--

COMMENT ON COLUMN public.ipo_applications.allotment_quantity IS 'Number of shares allotted (may be less than applied quantity)';


--
-- Name: ipo_applications_id_seq; Type: SEQUENCE; Schema: public; Owner: fintech_user
--

CREATE SEQUENCE public.ipo_applications_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.ipo_applications_id_seq OWNER TO fintech_user;

--
-- Name: ipo_applications_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: fintech_user
--

ALTER SEQUENCE public.ipo_applications_id_seq OWNED BY public.ipo_applications.id;


--
-- Name: ipo_listings; Type: TABLE; Schema: public; Owner: fintech_user
--

CREATE TABLE public.ipo_listings (
    id integer NOT NULL,
    company_name character varying(255) NOT NULL,
    price_per_share numeric(10,2) NOT NULL,
    total_shares integer,
    open_date date NOT NULL,
    close_date date,
    status public.enum_ipo_listings_status DEFAULT 'upcoming'::public.enum_ipo_listings_status NOT NULL,
    description text,
    created_at timestamp with time zone NOT NULL,
    updated_at timestamp with time zone NOT NULL,
    open_time time without time zone,
    close_time time without time zone,
    allotment_date date,
    allotment_time time without time zone,
    scrip_name character varying(20),
    result_publish_date date,
    result_publish_time time without time zone,
    auto_close boolean DEFAULT true
);


ALTER TABLE public.ipo_listings OWNER TO fintech_user;

--
-- Name: COLUMN ipo_listings.scrip_name; Type: COMMENT; Schema: public; Owner: fintech_user
--

COMMENT ON COLUMN public.ipo_listings.scrip_name IS 'Stock symbol/ticker for the IPO listing';


--
-- Name: ipo_listings_id_seq; Type: SEQUENCE; Schema: public; Owner: fintech_user
--

CREATE SEQUENCE public.ipo_listings_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.ipo_listings_id_seq OWNER TO fintech_user;

--
-- Name: ipo_listings_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: fintech_user
--

ALTER SEQUENCE public.ipo_listings_id_seq OWNED BY public.ipo_listings.id;


--
-- Name: modification_requests; Type: TABLE; Schema: public; Owner: fintech_user
--

CREATE TABLE public.modification_requests (
    id integer NOT NULL,
    target_model character varying(50) NOT NULL,
    target_id integer NOT NULL,
    requested_changes json NOT NULL,
    change_type character varying(20) DEFAULT 'update'::character varying,
    status character varying(20) DEFAULT 'pending'::character varying,
    requested_by integer NOT NULL,
    reviewed_by integer,
    review_notes text,
    created_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP,
    updated_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP,
    CONSTRAINT modification_requests_change_type_check CHECK (((change_type)::text = ANY ((ARRAY['create'::character varying, 'update'::character varying, 'delete'::character varying])::text[]))),
    CONSTRAINT modification_requests_status_check CHECK (((status)::text = ANY ((ARRAY['pending'::character varying, 'approved'::character varying, 'rejected'::character varying])::text[])))
);


ALTER TABLE public.modification_requests OWNER TO fintech_user;

--
-- Name: modification_requests_id_seq; Type: SEQUENCE; Schema: public; Owner: fintech_user
--

CREATE SEQUENCE public.modification_requests_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.modification_requests_id_seq OWNER TO fintech_user;

--
-- Name: modification_requests_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: fintech_user
--

ALTER SEQUENCE public.modification_requests_id_seq OWNED BY public.modification_requests.id;


--
-- Name: portfolios; Type: TABLE; Schema: public; Owner: fintech_user
--

CREATE TABLE public.portfolios (
    id integer NOT NULL,
    portfolio_id character varying(255) NOT NULL,
    customer_id integer,
    total_value numeric(15,2) DEFAULT 0.00,
    total_investment numeric(15,2) DEFAULT 0.00,
    profit_loss numeric(15,2) DEFAULT 0.00,
    created_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP,
    updated_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP
);


ALTER TABLE public.portfolios OWNER TO fintech_user;

--
-- Name: portfolios_id_seq; Type: SEQUENCE; Schema: public; Owner: fintech_user
--

CREATE SEQUENCE public.portfolios_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.portfolios_id_seq OWNER TO fintech_user;

--
-- Name: portfolios_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: fintech_user
--

ALTER SEQUENCE public.portfolios_id_seq OWNED BY public.portfolios.id;


--
-- Name: profit_distributions; Type: TABLE; Schema: public; Owner: fintech_user
--

CREATE TABLE public.profit_distributions (
    id integer NOT NULL,
    distribution_id character varying(255) NOT NULL,
    investment_id integer NOT NULL,
    shares_sold integer NOT NULL,
    sale_price_per_share numeric(10,2) NOT NULL,
    total_sale_amount numeric(15,2) NOT NULL,
    principal_returned numeric(15,2) NOT NULL,
    total_profit numeric(15,2) NOT NULL,
    investor_share numeric(15,2) NOT NULL,
    customer_share numeric(15,2) NOT NULL,
    admin_fee numeric(15,2) NOT NULL,
    distributed_at timestamp with time zone,
    created_by integer,
    created_at timestamp with time zone NOT NULL,
    updated_at timestamp with time zone NOT NULL
);


ALTER TABLE public.profit_distributions OWNER TO fintech_user;

--
-- Name: profit_distributions_id_seq; Type: SEQUENCE; Schema: public; Owner: fintech_user
--

CREATE SEQUENCE public.profit_distributions_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.profit_distributions_id_seq OWNER TO fintech_user;

--
-- Name: profit_distributions_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: fintech_user
--

ALTER SEQUENCE public.profit_distributions_id_seq OWNED BY public.profit_distributions.id;


--
-- Name: special_accounts; Type: TABLE; Schema: public; Owner: fintech_user
--

CREATE TABLE public.special_accounts (
    id integer NOT NULL,
    account_number character varying(13) NOT NULL,
    account_type character varying(20) NOT NULL,
    account_name character varying(255) NOT NULL,
    short_name character varying(20) NOT NULL,
    balance numeric(15,2) DEFAULT 0.00,
    investor_id integer,
    status character varying(20) DEFAULT 'active'::character varying,
    created_by integer,
    created_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP,
    updated_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP,
    CONSTRAINT special_accounts_account_type_check CHECK (((account_type)::text = ANY ((ARRAY['office'::character varying, 'investor'::character varying])::text[]))),
    CONSTRAINT special_accounts_status_check CHECK (((status)::text = ANY ((ARRAY['active'::character varying, 'inactive'::character varying])::text[])))
);


ALTER TABLE public.special_accounts OWNER TO fintech_user;

--
-- Name: TABLE special_accounts; Type: COMMENT; Schema: public; Owner: fintech_user
--

COMMENT ON TABLE public.special_accounts IS 'Special accounts for office fee collection and investor profit distribution';


--
-- Name: special_accounts_id_seq; Type: SEQUENCE; Schema: public; Owner: fintech_user
--

CREATE SEQUENCE public.special_accounts_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.special_accounts_id_seq OWNER TO fintech_user;

--
-- Name: special_accounts_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: fintech_user
--

ALTER SEQUENCE public.special_accounts_id_seq OWNED BY public.special_accounts.id;


--
-- Name: transactions; Type: TABLE; Schema: public; Owner: fintech_user
--

CREATE TABLE public.transactions (
    id integer NOT NULL,
    transaction_id character varying(255) NOT NULL,
    account_id integer,
    transaction_type character varying(50) NOT NULL,
    amount numeric(15,2) NOT NULL,
    balance_after numeric(15,2) NOT NULL,
    description text,
    created_by integer,
    created_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP,
    remarks text,
    reference_id integer,
    reference_type character varying(50),
    profit_amount numeric(15,2),
    sale_quantity integer,
    sale_price numeric(10,2),
    CONSTRAINT transactions_transaction_type_check CHECK (((transaction_type)::text = ANY ((ARRAY['deposit'::character varying, 'withdrawal'::character varying, 'transfer'::character varying, 'ipo_hold'::character varying, 'ipo_release'::character varying, 'ipo_allotment'::character varying, 'share_sale'::character varying, 'profit_distribution'::character varying, 'fee_deduction'::character varying, 'principal_return'::character varying])::text[])))
);


ALTER TABLE public.transactions OWNER TO fintech_user;

--
-- Name: COLUMN transactions.reference_id; Type: COMMENT; Schema: public; Owner: fintech_user
--

COMMENT ON COLUMN public.transactions.reference_id IS 'ID of related entity';


--
-- Name: COLUMN transactions.reference_type; Type: COMMENT; Schema: public; Owner: fintech_user
--

COMMENT ON COLUMN public.transactions.reference_type IS 'Type of related entity (e.g., IPOApplication, ProfitDistribution)';


--
-- Name: COLUMN transactions.profit_amount; Type: COMMENT; Schema: public; Owner: fintech_user
--

COMMENT ON COLUMN public.transactions.profit_amount IS 'Realized profit/loss for this specific sale transaction';


--
-- Name: transactions_id_seq; Type: SEQUENCE; Schema: public; Owner: fintech_user
--

CREATE SEQUENCE public.transactions_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.transactions_id_seq OWNER TO fintech_user;

--
-- Name: transactions_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: fintech_user
--

ALTER SEQUENCE public.transactions_id_seq OWNED BY public.transactions.id;


--
-- Name: users; Type: TABLE; Schema: public; Owner: fintech_user
--

CREATE TABLE public.users (
    id integer NOT NULL,
    user_id character varying(255) NOT NULL,
    staff_id integer NOT NULL,
    email character varying(255) NOT NULL,
    password_hash character varying(255) NOT NULL,
    name character varying(255) NOT NULL,
    role public.enum_users_role NOT NULL,
    phone character varying(255),
    avatar character varying(255),
    status character varying(20) DEFAULT 'active'::character varying,
    created_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP,
    updated_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP,
    CONSTRAINT users_role_check CHECK (((role)::text = ANY (ARRAY[('admin'::character varying)::text, ('maker'::character varying)::text, ('checker'::character varying)::text, ('investor'::character varying)::text]))),
    CONSTRAINT users_status_check CHECK (((status)::text = ANY ((ARRAY['active'::character varying, 'inactive'::character varying])::text[])))
);


ALTER TABLE public.users OWNER TO fintech_user;

--
-- Name: users_id_seq; Type: SEQUENCE; Schema: public; Owner: fintech_user
--

CREATE SEQUENCE public.users_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.users_id_seq OWNER TO fintech_user;

--
-- Name: users_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: fintech_user
--

ALTER SEQUENCE public.users_id_seq OWNED BY public.users.id;


--
-- Name: accounts id; Type: DEFAULT; Schema: public; Owner: fintech_user
--

ALTER TABLE ONLY public.accounts ALTER COLUMN id SET DEFAULT nextval('public.accounts_id_seq'::regclass);


--
-- Name: bank_configurations id; Type: DEFAULT; Schema: public; Owner: fintech_user
--

ALTER TABLE ONLY public.bank_configurations ALTER COLUMN id SET DEFAULT nextval('public.bank_configurations_id_seq'::regclass);


--
-- Name: category_account_assignments id; Type: DEFAULT; Schema: public; Owner: fintech_user
--

ALTER TABLE ONLY public.category_account_assignments ALTER COLUMN id SET DEFAULT nextval('public.category_account_assignments_id_seq'::regclass);


--
-- Name: customer_credentials id; Type: DEFAULT; Schema: public; Owner: fintech_user
--

ALTER TABLE ONLY public.customer_credentials ALTER COLUMN id SET DEFAULT nextval('public.customer_credentials_id_seq'::regclass);


--
-- Name: customers id; Type: DEFAULT; Schema: public; Owner: fintech_user
--

ALTER TABLE ONLY public.customers ALTER COLUMN id SET DEFAULT nextval('public.customers_id_seq'::regclass);


--
-- Name: fees id; Type: DEFAULT; Schema: public; Owner: fintech_user
--

ALTER TABLE ONLY public.fees ALTER COLUMN id SET DEFAULT nextval('public.fees_id_seq'::regclass);


--
-- Name: holdings id; Type: DEFAULT; Schema: public; Owner: fintech_user
--

ALTER TABLE ONLY public.holdings ALTER COLUMN id SET DEFAULT nextval('public.holdings_id_seq'::regclass);


--
-- Name: investments id; Type: DEFAULT; Schema: public; Owner: fintech_user
--

ALTER TABLE ONLY public.investments ALTER COLUMN id SET DEFAULT nextval('public.investments_id_seq'::regclass);


--
-- Name: investor_account_assignments id; Type: DEFAULT; Schema: public; Owner: fintech_user
--

ALTER TABLE ONLY public.investor_account_assignments ALTER COLUMN id SET DEFAULT nextval('public.investor_account_assignments_id_seq'::regclass);


--
-- Name: investor_categories id; Type: DEFAULT; Schema: public; Owner: fintech_user
--

ALTER TABLE ONLY public.investor_categories ALTER COLUMN id SET DEFAULT nextval('public.investor_categories_id_seq'::regclass);


--
-- Name: investors id; Type: DEFAULT; Schema: public; Owner: fintech_user
--

ALTER TABLE ONLY public.investors ALTER COLUMN id SET DEFAULT nextval('public.investors_id_seq'::regclass);


--
-- Name: ipo_applications id; Type: DEFAULT; Schema: public; Owner: fintech_user
--

ALTER TABLE ONLY public.ipo_applications ALTER COLUMN id SET DEFAULT nextval('public.ipo_applications_id_seq'::regclass);


--
-- Name: ipo_listings id; Type: DEFAULT; Schema: public; Owner: fintech_user
--

ALTER TABLE ONLY public.ipo_listings ALTER COLUMN id SET DEFAULT nextval('public.ipo_listings_id_seq'::regclass);


--
-- Name: modification_requests id; Type: DEFAULT; Schema: public; Owner: fintech_user
--

ALTER TABLE ONLY public.modification_requests ALTER COLUMN id SET DEFAULT nextval('public.modification_requests_id_seq'::regclass);


--
-- Name: portfolios id; Type: DEFAULT; Schema: public; Owner: fintech_user
--

ALTER TABLE ONLY public.portfolios ALTER COLUMN id SET DEFAULT nextval('public.portfolios_id_seq'::regclass);


--
-- Name: profit_distributions id; Type: DEFAULT; Schema: public; Owner: fintech_user
--

ALTER TABLE ONLY public.profit_distributions ALTER COLUMN id SET DEFAULT nextval('public.profit_distributions_id_seq'::regclass);


--
-- Name: special_accounts id; Type: DEFAULT; Schema: public; Owner: fintech_user
--

ALTER TABLE ONLY public.special_accounts ALTER COLUMN id SET DEFAULT nextval('public.special_accounts_id_seq'::regclass);


--
-- Name: transactions id; Type: DEFAULT; Schema: public; Owner: fintech_user
--

ALTER TABLE ONLY public.transactions ALTER COLUMN id SET DEFAULT nextval('public.transactions_id_seq'::regclass);


--
-- Name: users id; Type: DEFAULT; Schema: public; Owner: fintech_user
--

ALTER TABLE ONLY public.users ALTER COLUMN id SET DEFAULT nextval('public.users_id_seq'::regclass);


--
-- Data for Name: accounts; Type: TABLE DATA; Schema: public; Owner: fintech_user
--



--
-- Data for Name: activity_logs; Type: TABLE DATA; Schema: public; Owner: fintech_user
--

COPY public.activity_logs (id, user_id, action, entity_type, entity_id, details, ip_address, created_at) FROM stdin;
\.


--
-- Data for Name: bank_configurations; Type: TABLE DATA; Schema: public; Owner: fintech_user
--



--
-- Data for Name: category_account_assignments; Type: TABLE DATA; Schema: public; Owner: fintech_user
--

COPY public.category_account_assignments (id, category_id, customer_id, account_id, assigned_by, assigned_at, created_at, updated_at) FROM stdin;
\.


--
-- Data for Name: customer_credentials; Type: TABLE DATA; Schema: public; Owner: fintech_user
--

COPY public.customer_credentials (id, customer_id, platform, login_id, password, status, updated_by, created_at, updated_at) FROM stdin;
\.


--
-- Data for Name: customers; Type: TABLE DATA; Schema: public; Owner: fintech_user
--



--
-- Data for Name: fees; Type: TABLE DATA; Schema: public; Owner: fintech_user
--

COPY public.fees (id, fee_id, customer_id, account_id, fee_type, amount, due_date, paid_date, status, paid_from_distribution, distribution_id, created_at, updated_at) FROM stdin;
\.


--
-- Data for Name: holdings; Type: TABLE DATA; Schema: public; Owner: fintech_user
--

COPY public.holdings (id, holding_id, portfolio_id, stock_symbol, company_name, quantity, purchase_price, current_price, profit_loss_percent, purchase_date, created_at, updated_at, investment_id, last_transaction_price, last_closing_price, total_profit, total_sold_quantity, average_sale_price) FROM stdin;
\.


--
-- Data for Name: investments; Type: TABLE DATA; Schema: public; Owner: fintech_user
--

COPY public.investments (id, investment_id, investor_id, customer_id, account_id, ipo_application_id, principal_amount, shares_allocated, cost_per_share, total_cost, shares_held, current_market_price, current_value, total_sold_amount, investor_profit, customer_profit, admin_fee, status, invested_at, created_at, updated_at) FROM stdin;
\.


--
-- Data for Name: investor_account_assignments; Type: TABLE DATA; Schema: public; Owner: fintech_user
--

COPY public.investor_account_assignments (id, investor_id, account_id, customer_id, assigned_date, assigned_by, status, created_at, updated_at) FROM stdin;
\.


--
-- Data for Name: investor_categories; Type: TABLE DATA; Schema: public; Owner: fintech_user
--

COPY public.investor_categories (id, category_name, investor_id, description, status, created_at, updated_at) FROM stdin;
1	Lahan	2	\N	active	2026-01-16 19:08:30.946+00	2026-01-16 19:08:30.946+00
2	Sagarmatha	1	\N	active	2026-01-16 19:08:46.875+00	2026-01-16 19:08:46.875+00
\.


--
-- Data for Name: investors; Type: TABLE DATA; Schema: public; Owner: fintech_user
--

COPY public.investors (id, investor_id, name, email, phone, total_capital, invested_amount, available_capital, total_profit, status, created_by, created_at, updated_at, special_account_number) FROM stdin;
1	INV-202601160001	Test1	test@zzz.com	9800000000	50000.00	0.00	50000.00	0.00	active	1	2026-01-16 18:41:07.586+00	2026-01-16 18:41:07.586+00	4001000000001
2	INV-202601160002	Test2	test2@hahah.com	9800000000	50000.00	0.00	50000.00	0.00	active	1	2026-01-16 18:41:41.585+00	2026-01-16 18:41:41.585+00	4001000000002
\.


--
-- Data for Name: ipo_applications; Type: TABLE DATA; Schema: public; Owner: fintech_user
--

COPY public.ipo_applications (id, customer_id, company_name, quantity, price_per_share, total_amount, status, applied_at, verified_by, created_at, updated_at, ipo_listing_id, applied_by, verification_date, rejection_reason, allotment_status, allotment_quantity, allotment_date, account_id) FROM stdin;
19	139	Solu Hydropower Limited	10	100.00	1000.00	verified	2026-01-24 15:21:57.252+00	\N	2026-01-24 15:21:57.252+00	2026-01-24 15:24:46.979+00	\N	\N	\N	\N	pending	\N	\N	44
\.


--
-- Data for Name: ipo_listings; Type: TABLE DATA; Schema: public; Owner: fintech_user
--



--
-- Data for Name: modification_requests; Type: TABLE DATA; Schema: public; Owner: fintech_user
--



--
-- Data for Name: portfolios; Type: TABLE DATA; Schema: public; Owner: fintech_user
--



--
-- Data for Name: profit_distributions; Type: TABLE DATA; Schema: public; Owner: fintech_user
--

COPY public.profit_distributions (id, distribution_id, investment_id, shares_sold, sale_price_per_share, total_sale_amount, principal_returned, total_profit, investor_share, customer_share, admin_fee, distributed_at, created_by, created_at, updated_at) FROM stdin;
\.


--
-- Data for Name: special_accounts; Type: TABLE DATA; Schema: public; Owner: fintech_user
--



--
-- Data for Name: transactions; Type: TABLE DATA; Schema: public; Owner: fintech_user
--

COPY public.transactions (id, transaction_id, account_id, transaction_type, amount, balance_after, description, created_by, created_at, remarks, reference_id, reference_type, profit_amount, sale_quantity, sale_price) FROM stdin;
6	TXN-1768624643902	43	deposit	50000.00	50000.00	For IPO Application	2	2026-01-17 04:37:23.902	\N	\N	\N	\N	\N	\N
7	TXN-1768651063479	43	deposit	3000.00	53000.00	Test	2	2026-01-17 11:57:43.48	\N	\N	\N	\N	\N	\N
8	TXN-1769233499314	44	deposit	50000.00	50000.00	For IPO Application	2	2026-01-24 05:44:59.314	\N	\N	\N	\N	\N	\N
\.


--
-- Data for Name: users; Type: TABLE DATA; Schema: public; Owner: fintech_user
--



--
-- Name: accounts_id_seq; Type: SEQUENCE SET; Schema: public; Owner: fintech_user
--

SELECT pg_catalog.setval('public.accounts_id_seq', 44, true);


--
-- Name: bank_configurations_id_seq; Type: SEQUENCE SET; Schema: public; Owner: fintech_user
--

SELECT pg_catalog.setval('public.bank_configurations_id_seq', 81, true);


--
-- Name: category_account_assignments_id_seq; Type: SEQUENCE SET; Schema: public; Owner: fintech_user
--

SELECT pg_catalog.setval('public.category_account_assignments_id_seq', 1, false);


--
-- Name: customer_credentials_id_seq; Type: SEQUENCE SET; Schema: public; Owner: fintech_user
--

SELECT pg_catalog.setval('public.customer_credentials_id_seq', 1, true);


--
-- Name: customers_id_seq; Type: SEQUENCE SET; Schema: public; Owner: fintech_user
--

SELECT pg_catalog.setval('public.customers_id_seq', 139, true);


--
-- Name: fees_id_seq; Type: SEQUENCE SET; Schema: public; Owner: fintech_user
--

SELECT pg_catalog.setval('public.fees_id_seq', 1, false);


--
-- Name: holdings_id_seq; Type: SEQUENCE SET; Schema: public; Owner: fintech_user
--

SELECT pg_catalog.setval('public.holdings_id_seq', 1, false);


--
-- Name: investments_id_seq; Type: SEQUENCE SET; Schema: public; Owner: fintech_user
--

SELECT pg_catalog.setval('public.investments_id_seq', 1, false);


--
-- Name: investor_account_assignments_id_seq; Type: SEQUENCE SET; Schema: public; Owner: fintech_user
--

SELECT pg_catalog.setval('public.investor_account_assignments_id_seq', 1, false);


--
-- Name: investor_categories_id_seq; Type: SEQUENCE SET; Schema: public; Owner: fintech_user
--

SELECT pg_catalog.setval('public.investor_categories_id_seq', 2, true);


--
-- Name: investors_id_seq; Type: SEQUENCE SET; Schema: public; Owner: fintech_user
--

SELECT pg_catalog.setval('public.investors_id_seq', 2, true);


--
-- Name: ipo_applications_id_seq; Type: SEQUENCE SET; Schema: public; Owner: fintech_user
--

SELECT pg_catalog.setval('public.ipo_applications_id_seq', 55, true);


--
-- Name: ipo_listings_id_seq; Type: SEQUENCE SET; Schema: public; Owner: fintech_user
--

SELECT pg_catalog.setval('public.ipo_listings_id_seq', 5, true);


--
-- Name: modification_requests_id_seq; Type: SEQUENCE SET; Schema: public; Owner: fintech_user
--

SELECT pg_catalog.setval('public.modification_requests_id_seq', 20, true);


--
-- Name: portfolios_id_seq; Type: SEQUENCE SET; Schema: public; Owner: fintech_user
--

SELECT pg_catalog.setval('public.portfolios_id_seq', 30, true);


--
-- Name: profit_distributions_id_seq; Type: SEQUENCE SET; Schema: public; Owner: fintech_user
--

SELECT pg_catalog.setval('public.profit_distributions_id_seq', 1, false);


--
-- Name: special_accounts_id_seq; Type: SEQUENCE SET; Schema: public; Owner: fintech_user
--

SELECT pg_catalog.setval('public.special_accounts_id_seq', 7, true);


--
-- Name: transactions_id_seq; Type: SEQUENCE SET; Schema: public; Owner: fintech_user
--

SELECT pg_catalog.setval('public.transactions_id_seq', 8, true);


--
-- Name: users_id_seq; Type: SEQUENCE SET; Schema: public; Owner: fintech_user
--

SELECT pg_catalog.setval('public.users_id_seq', 36, true);


--
-- Name: accounts accounts_account_number_key; Type: CONSTRAINT; Schema: public; Owner: fintech_user
--

ALTER TABLE ONLY public.accounts
    ADD CONSTRAINT accounts_account_number_key UNIQUE (account_number);


--
-- Name: accounts accounts_account_number_key1; Type: CONSTRAINT; Schema: public; Owner: fintech_user
--

ALTER TABLE ONLY public.accounts
    ADD CONSTRAINT accounts_account_number_key1 UNIQUE (account_number);


--
-- Name: accounts accounts_pkey; Type: CONSTRAINT; Schema: public; Owner: fintech_user
--

ALTER TABLE ONLY public.accounts
    ADD CONSTRAINT accounts_pkey PRIMARY KEY (id);


--
-- Name: activity_logs activity_logs_pkey; Type: CONSTRAINT; Schema: public; Owner: fintech_user
--

ALTER TABLE ONLY public.activity_logs
    ADD CONSTRAINT activity_logs_pkey PRIMARY KEY (id);


--
-- Name: bank_configurations bank_configurations_bank_name_key; Type: CONSTRAINT; Schema: public; Owner: fintech_user
--

ALTER TABLE ONLY public.bank_configurations
    ADD CONSTRAINT bank_configurations_bank_name_key UNIQUE (bank_name);


--
-- Name: bank_configurations bank_configurations_pkey; Type: CONSTRAINT; Schema: public; Owner: fintech_user
--

ALTER TABLE ONLY public.bank_configurations
    ADD CONSTRAINT bank_configurations_pkey PRIMARY KEY (id);


--
-- Name: category_account_assignments category_account_assignments_pkey; Type: CONSTRAINT; Schema: public; Owner: fintech_user
--

ALTER TABLE ONLY public.category_account_assignments
    ADD CONSTRAINT category_account_assignments_pkey PRIMARY KEY (id);


--
-- Name: customer_credentials customer_credentials_pkey; Type: CONSTRAINT; Schema: public; Owner: fintech_user
--

ALTER TABLE ONLY public.customer_credentials
    ADD CONSTRAINT customer_credentials_pkey PRIMARY KEY (id);


--
-- Name: customers customers_customer_id_key; Type: CONSTRAINT; Schema: public; Owner: fintech_user
--

ALTER TABLE ONLY public.customers
    ADD CONSTRAINT customers_customer_id_key UNIQUE (customer_id);


--
-- Name: customers customers_customer_id_key1; Type: CONSTRAINT; Schema: public; Owner: fintech_user
--

ALTER TABLE ONLY public.customers
    ADD CONSTRAINT customers_customer_id_key1 UNIQUE (customer_id);


--
-- Name: customers customers_email_key1; Type: CONSTRAINT; Schema: public; Owner: fintech_user
--

ALTER TABLE ONLY public.customers
    ADD CONSTRAINT customers_email_key1 UNIQUE (email);


--
-- Name: customers customers_pkey; Type: CONSTRAINT; Schema: public; Owner: fintech_user
--

ALTER TABLE ONLY public.customers
    ADD CONSTRAINT customers_pkey PRIMARY KEY (id);


--
-- Name: fees fees_fee_id_key; Type: CONSTRAINT; Schema: public; Owner: fintech_user
--

ALTER TABLE ONLY public.fees
    ADD CONSTRAINT fees_fee_id_key UNIQUE (fee_id);


--
-- Name: fees fees_pkey; Type: CONSTRAINT; Schema: public; Owner: fintech_user
--

ALTER TABLE ONLY public.fees
    ADD CONSTRAINT fees_pkey PRIMARY KEY (id);


--
-- Name: holdings holdings_holding_id_key; Type: CONSTRAINT; Schema: public; Owner: fintech_user
--

ALTER TABLE ONLY public.holdings
    ADD CONSTRAINT holdings_holding_id_key UNIQUE (holding_id);


--
-- Name: holdings holdings_pkey; Type: CONSTRAINT; Schema: public; Owner: fintech_user
--

ALTER TABLE ONLY public.holdings
    ADD CONSTRAINT holdings_pkey PRIMARY KEY (id);


--
-- Name: investments investments_investment_id_key; Type: CONSTRAINT; Schema: public; Owner: fintech_user
--

ALTER TABLE ONLY public.investments
    ADD CONSTRAINT investments_investment_id_key UNIQUE (investment_id);


--
-- Name: investments investments_pkey; Type: CONSTRAINT; Schema: public; Owner: fintech_user
--

ALTER TABLE ONLY public.investments
    ADD CONSTRAINT investments_pkey PRIMARY KEY (id);


--
-- Name: investor_account_assignments investor_account_assignments_investor_id_account_id_key; Type: CONSTRAINT; Schema: public; Owner: fintech_user
--

ALTER TABLE ONLY public.investor_account_assignments
    ADD CONSTRAINT investor_account_assignments_investor_id_account_id_key UNIQUE (investor_id, account_id);


--
-- Name: investor_account_assignments investor_account_assignments_pkey; Type: CONSTRAINT; Schema: public; Owner: fintech_user
--

ALTER TABLE ONLY public.investor_account_assignments
    ADD CONSTRAINT investor_account_assignments_pkey PRIMARY KEY (id);


--
-- Name: investor_categories investor_categories_category_name_key; Type: CONSTRAINT; Schema: public; Owner: fintech_user
--

ALTER TABLE ONLY public.investor_categories
    ADD CONSTRAINT investor_categories_category_name_key UNIQUE (category_name);


--
-- Name: investor_categories investor_categories_pkey; Type: CONSTRAINT; Schema: public; Owner: fintech_user
--

ALTER TABLE ONLY public.investor_categories
    ADD CONSTRAINT investor_categories_pkey PRIMARY KEY (id);


--
-- Name: investors investors_investor_id_key; Type: CONSTRAINT; Schema: public; Owner: fintech_user
--

ALTER TABLE ONLY public.investors
    ADD CONSTRAINT investors_investor_id_key UNIQUE (investor_id);


--
-- Name: investors investors_pkey; Type: CONSTRAINT; Schema: public; Owner: fintech_user
--

ALTER TABLE ONLY public.investors
    ADD CONSTRAINT investors_pkey PRIMARY KEY (id);


--
-- Name: investors investors_special_account_number_key; Type: CONSTRAINT; Schema: public; Owner: fintech_user
--

ALTER TABLE ONLY public.investors
    ADD CONSTRAINT investors_special_account_number_key UNIQUE (special_account_number);


--
-- Name: ipo_applications ipo_applications_pkey; Type: CONSTRAINT; Schema: public; Owner: fintech_user
--

ALTER TABLE ONLY public.ipo_applications
    ADD CONSTRAINT ipo_applications_pkey PRIMARY KEY (id);


--
-- Name: ipo_listings ipo_listings_pkey; Type: CONSTRAINT; Schema: public; Owner: fintech_user
--

ALTER TABLE ONLY public.ipo_listings
    ADD CONSTRAINT ipo_listings_pkey PRIMARY KEY (id);


--
-- Name: modification_requests modification_requests_pkey; Type: CONSTRAINT; Schema: public; Owner: fintech_user
--

ALTER TABLE ONLY public.modification_requests
    ADD CONSTRAINT modification_requests_pkey PRIMARY KEY (id);


--
-- Name: portfolios portfolios_pkey; Type: CONSTRAINT; Schema: public; Owner: fintech_user
--

ALTER TABLE ONLY public.portfolios
    ADD CONSTRAINT portfolios_pkey PRIMARY KEY (id);


--
-- Name: portfolios portfolios_portfolio_id_key; Type: CONSTRAINT; Schema: public; Owner: fintech_user
--

ALTER TABLE ONLY public.portfolios
    ADD CONSTRAINT portfolios_portfolio_id_key UNIQUE (portfolio_id);


--
-- Name: profit_distributions profit_distributions_distribution_id_key; Type: CONSTRAINT; Schema: public; Owner: fintech_user
--

ALTER TABLE ONLY public.profit_distributions
    ADD CONSTRAINT profit_distributions_distribution_id_key UNIQUE (distribution_id);


--
-- Name: profit_distributions profit_distributions_pkey; Type: CONSTRAINT; Schema: public; Owner: fintech_user
--

ALTER TABLE ONLY public.profit_distributions
    ADD CONSTRAINT profit_distributions_pkey PRIMARY KEY (id);


--
-- Name: special_accounts special_accounts_account_number_key; Type: CONSTRAINT; Schema: public; Owner: fintech_user
--

ALTER TABLE ONLY public.special_accounts
    ADD CONSTRAINT special_accounts_account_number_key UNIQUE (account_number);


--
-- Name: special_accounts special_accounts_pkey; Type: CONSTRAINT; Schema: public; Owner: fintech_user
--

ALTER TABLE ONLY public.special_accounts
    ADD CONSTRAINT special_accounts_pkey PRIMARY KEY (id);


--
-- Name: transactions transactions_pkey; Type: CONSTRAINT; Schema: public; Owner: fintech_user
--

ALTER TABLE ONLY public.transactions
    ADD CONSTRAINT transactions_pkey PRIMARY KEY (id);


--
-- Name: transactions transactions_transaction_id_key; Type: CONSTRAINT; Schema: public; Owner: fintech_user
--

ALTER TABLE ONLY public.transactions
    ADD CONSTRAINT transactions_transaction_id_key UNIQUE (transaction_id);


--
-- Name: users users_email_key; Type: CONSTRAINT; Schema: public; Owner: fintech_user
--

ALTER TABLE ONLY public.users
    ADD CONSTRAINT users_email_key UNIQUE (email);


--
-- Name: users users_email_key1; Type: CONSTRAINT; Schema: public; Owner: fintech_user
--

ALTER TABLE ONLY public.users
    ADD CONSTRAINT users_email_key1 UNIQUE (email);


--
-- Name: users users_email_key2; Type: CONSTRAINT; Schema: public; Owner: fintech_user
--

ALTER TABLE ONLY public.users
    ADD CONSTRAINT users_email_key2 UNIQUE (email);


--
-- Name: users users_email_key3; Type: CONSTRAINT; Schema: public; Owner: fintech_user
--

ALTER TABLE ONLY public.users
    ADD CONSTRAINT users_email_key3 UNIQUE (email);


--
-- Name: users users_email_key4; Type: CONSTRAINT; Schema: public; Owner: fintech_user
--

ALTER TABLE ONLY public.users
    ADD CONSTRAINT users_email_key4 UNIQUE (email);


--
-- Name: users users_email_key5; Type: CONSTRAINT; Schema: public; Owner: fintech_user
--

ALTER TABLE ONLY public.users
    ADD CONSTRAINT users_email_key5 UNIQUE (email);


--
-- Name: users users_email_key6; Type: CONSTRAINT; Schema: public; Owner: fintech_user
--

ALTER TABLE ONLY public.users
    ADD CONSTRAINT users_email_key6 UNIQUE (email);


--
-- Name: users users_email_key7; Type: CONSTRAINT; Schema: public; Owner: fintech_user
--

ALTER TABLE ONLY public.users
    ADD CONSTRAINT users_email_key7 UNIQUE (email);


--
-- Name: users users_pkey; Type: CONSTRAINT; Schema: public; Owner: fintech_user
--

ALTER TABLE ONLY public.users
    ADD CONSTRAINT users_pkey PRIMARY KEY (id);


--
-- Name: users users_staff_id_key; Type: CONSTRAINT; Schema: public; Owner: fintech_user
--

ALTER TABLE ONLY public.users
    ADD CONSTRAINT users_staff_id_key UNIQUE (staff_id);


--
-- Name: users users_staff_id_key1; Type: CONSTRAINT; Schema: public; Owner: fintech_user
--

ALTER TABLE ONLY public.users
    ADD CONSTRAINT users_staff_id_key1 UNIQUE (staff_id);


--
-- Name: users users_staff_id_key2; Type: CONSTRAINT; Schema: public; Owner: fintech_user
--

ALTER TABLE ONLY public.users
    ADD CONSTRAINT users_staff_id_key2 UNIQUE (staff_id);


--
-- Name: users users_staff_id_key3; Type: CONSTRAINT; Schema: public; Owner: fintech_user
--

ALTER TABLE ONLY public.users
    ADD CONSTRAINT users_staff_id_key3 UNIQUE (staff_id);


--
-- Name: users users_staff_id_key4; Type: CONSTRAINT; Schema: public; Owner: fintech_user
--

ALTER TABLE ONLY public.users
    ADD CONSTRAINT users_staff_id_key4 UNIQUE (staff_id);


--
-- Name: users users_staff_id_key5; Type: CONSTRAINT; Schema: public; Owner: fintech_user
--

ALTER TABLE ONLY public.users
    ADD CONSTRAINT users_staff_id_key5 UNIQUE (staff_id);


--
-- Name: users users_staff_id_key6; Type: CONSTRAINT; Schema: public; Owner: fintech_user
--

ALTER TABLE ONLY public.users
    ADD CONSTRAINT users_staff_id_key6 UNIQUE (staff_id);


--
-- Name: users users_staff_id_key7; Type: CONSTRAINT; Schema: public; Owner: fintech_user
--

ALTER TABLE ONLY public.users
    ADD CONSTRAINT users_staff_id_key7 UNIQUE (staff_id);


--
-- Name: users users_user_id_key; Type: CONSTRAINT; Schema: public; Owner: fintech_user
--

ALTER TABLE ONLY public.users
    ADD CONSTRAINT users_user_id_key UNIQUE (user_id);


--
-- Name: users users_user_id_key1; Type: CONSTRAINT; Schema: public; Owner: fintech_user
--

ALTER TABLE ONLY public.users
    ADD CONSTRAINT users_user_id_key1 UNIQUE (user_id);


--
-- Name: users users_user_id_key2; Type: CONSTRAINT; Schema: public; Owner: fintech_user
--

ALTER TABLE ONLY public.users
    ADD CONSTRAINT users_user_id_key2 UNIQUE (user_id);


--
-- Name: users users_user_id_key3; Type: CONSTRAINT; Schema: public; Owner: fintech_user
--

ALTER TABLE ONLY public.users
    ADD CONSTRAINT users_user_id_key3 UNIQUE (user_id);


--
-- Name: users users_user_id_key4; Type: CONSTRAINT; Schema: public; Owner: fintech_user
--

ALTER TABLE ONLY public.users
    ADD CONSTRAINT users_user_id_key4 UNIQUE (user_id);


--
-- Name: users users_user_id_key5; Type: CONSTRAINT; Schema: public; Owner: fintech_user
--

ALTER TABLE ONLY public.users
    ADD CONSTRAINT users_user_id_key5 UNIQUE (user_id);


--
-- Name: users users_user_id_key6; Type: CONSTRAINT; Schema: public; Owner: fintech_user
--

ALTER TABLE ONLY public.users
    ADD CONSTRAINT users_user_id_key6 UNIQUE (user_id);


--
-- Name: users users_user_id_key7; Type: CONSTRAINT; Schema: public; Owner: fintech_user
--

ALTER TABLE ONLY public.users
    ADD CONSTRAINT users_user_id_key7 UNIQUE (user_id);


--
-- Name: idx_accounts_category; Type: INDEX; Schema: public; Owner: fintech_user
--

CREATE INDEX idx_accounts_category ON public.accounts USING btree (account_category);


--
-- Name: idx_accounts_customer_id; Type: INDEX; Schema: public; Owner: fintech_user
--

CREATE INDEX idx_accounts_customer_id ON public.accounts USING btree (customer_id);


--
-- Name: idx_activity_logs_created_at; Type: INDEX; Schema: public; Owner: fintech_user
--

CREATE INDEX idx_activity_logs_created_at ON public.activity_logs USING btree (created_at);


--
-- Name: idx_activity_logs_user_id; Type: INDEX; Schema: public; Owner: fintech_user
--

CREATE INDEX idx_activity_logs_user_id ON public.activity_logs USING btree (user_id);


--
-- Name: idx_customer_credentials_customer_id; Type: INDEX; Schema: public; Owner: fintech_user
--

CREATE INDEX idx_customer_credentials_customer_id ON public.customer_credentials USING btree (customer_id);


--
-- Name: idx_customers_email; Type: INDEX; Schema: public; Owner: fintech_user
--

CREATE INDEX idx_customers_email ON public.customers USING btree (email);


--
-- Name: idx_fees_customer_id; Type: INDEX; Schema: public; Owner: fintech_user
--

CREATE INDEX idx_fees_customer_id ON public.fees USING btree (customer_id);


--
-- Name: idx_fees_due_date; Type: INDEX; Schema: public; Owner: fintech_user
--

CREATE INDEX idx_fees_due_date ON public.fees USING btree (due_date);


--
-- Name: idx_fees_fee_type; Type: INDEX; Schema: public; Owner: fintech_user
--

CREATE INDEX idx_fees_fee_type ON public.fees USING btree (fee_type);


--
-- Name: idx_fees_status; Type: INDEX; Schema: public; Owner: fintech_user
--

CREATE INDEX idx_fees_status ON public.fees USING btree (status);


--
-- Name: idx_holdings_investment_id; Type: INDEX; Schema: public; Owner: fintech_user
--

CREATE INDEX idx_holdings_investment_id ON public.holdings USING btree (investment_id);


--
-- Name: idx_holdings_portfolio_id; Type: INDEX; Schema: public; Owner: fintech_user
--

CREATE INDEX idx_holdings_portfolio_id ON public.holdings USING btree (portfolio_id);


--
-- Name: idx_investor_assignments_account_id; Type: INDEX; Schema: public; Owner: fintech_user
--

CREATE INDEX idx_investor_assignments_account_id ON public.investor_account_assignments USING btree (account_id);


--
-- Name: idx_investor_assignments_customer_id; Type: INDEX; Schema: public; Owner: fintech_user
--

CREATE INDEX idx_investor_assignments_customer_id ON public.investor_account_assignments USING btree (customer_id);


--
-- Name: idx_investor_assignments_investor_id; Type: INDEX; Schema: public; Owner: fintech_user
--

CREATE INDEX idx_investor_assignments_investor_id ON public.investor_account_assignments USING btree (investor_id);


--
-- Name: idx_investor_assignments_status; Type: INDEX; Schema: public; Owner: fintech_user
--

CREATE INDEX idx_investor_assignments_status ON public.investor_account_assignments USING btree (status);


--
-- Name: idx_ipo_applications_allotment_status; Type: INDEX; Schema: public; Owner: fintech_user
--

CREATE INDEX idx_ipo_applications_allotment_status ON public.ipo_applications USING btree (allotment_status);


--
-- Name: idx_ipo_applications_applied_by; Type: INDEX; Schema: public; Owner: fintech_user
--

CREATE INDEX idx_ipo_applications_applied_by ON public.ipo_applications USING btree (applied_by);


--
-- Name: idx_ipo_applications_customer_id; Type: INDEX; Schema: public; Owner: fintech_user
--

CREATE INDEX idx_ipo_applications_customer_id ON public.ipo_applications USING btree (customer_id);


--
-- Name: idx_ipo_applications_listing_id; Type: INDEX; Schema: public; Owner: fintech_user
--

CREATE INDEX idx_ipo_applications_listing_id ON public.ipo_applications USING btree (ipo_listing_id);


--
-- Name: idx_modification_requests_status; Type: INDEX; Schema: public; Owner: fintech_user
--

CREATE INDEX idx_modification_requests_status ON public.modification_requests USING btree (status);


--
-- Name: idx_portfolios_customer_id; Type: INDEX; Schema: public; Owner: fintech_user
--

CREATE INDEX idx_portfolios_customer_id ON public.portfolios USING btree (customer_id);


--
-- Name: idx_special_accounts_account_type; Type: INDEX; Schema: public; Owner: fintech_user
--

CREATE INDEX idx_special_accounts_account_type ON public.special_accounts USING btree (account_type);


--
-- Name: idx_special_accounts_investor_id; Type: INDEX; Schema: public; Owner: fintech_user
--

CREATE INDEX idx_special_accounts_investor_id ON public.special_accounts USING btree (investor_id);


--
-- Name: idx_special_accounts_status; Type: INDEX; Schema: public; Owner: fintech_user
--

CREATE INDEX idx_special_accounts_status ON public.special_accounts USING btree (status);


--
-- Name: idx_transactions_account_id; Type: INDEX; Schema: public; Owner: fintech_user
--

CREATE INDEX idx_transactions_account_id ON public.transactions USING btree (account_id);


--
-- Name: idx_transactions_reference; Type: INDEX; Schema: public; Owner: fintech_user
--

CREATE INDEX idx_transactions_reference ON public.transactions USING btree (reference_type, reference_id);


--
-- Name: idx_users_email; Type: INDEX; Schema: public; Owner: fintech_user
--

CREATE INDEX idx_users_email ON public.users USING btree (email);


--
-- Name: idx_users_staff_id; Type: INDEX; Schema: public; Owner: fintech_user
--

CREATE INDEX idx_users_staff_id ON public.users USING btree (staff_id);


--
-- Name: accounts accounts_customer_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: fintech_user
--

ALTER TABLE ONLY public.accounts
    ADD CONSTRAINT accounts_customer_id_fkey FOREIGN KEY (customer_id) REFERENCES public.customers(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: category_account_assignments category_account_assignments_account_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: fintech_user
--

ALTER TABLE ONLY public.category_account_assignments
    ADD CONSTRAINT category_account_assignments_account_id_fkey FOREIGN KEY (account_id) REFERENCES public.accounts(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: category_account_assignments category_account_assignments_assigned_by_fkey; Type: FK CONSTRAINT; Schema: public; Owner: fintech_user
--

ALTER TABLE ONLY public.category_account_assignments
    ADD CONSTRAINT category_account_assignments_assigned_by_fkey FOREIGN KEY (assigned_by) REFERENCES public.users(id) ON UPDATE CASCADE ON DELETE SET NULL;


--
-- Name: category_account_assignments category_account_assignments_category_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: fintech_user
--

ALTER TABLE ONLY public.category_account_assignments
    ADD CONSTRAINT category_account_assignments_category_id_fkey FOREIGN KEY (category_id) REFERENCES public.investor_categories(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: category_account_assignments category_account_assignments_customer_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: fintech_user
--

ALTER TABLE ONLY public.category_account_assignments
    ADD CONSTRAINT category_account_assignments_customer_id_fkey FOREIGN KEY (customer_id) REFERENCES public.customers(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: customer_credentials customer_credentials_customer_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: fintech_user
--

ALTER TABLE ONLY public.customer_credentials
    ADD CONSTRAINT customer_credentials_customer_id_fkey FOREIGN KEY (customer_id) REFERENCES public.customers(id) ON DELETE CASCADE;


--
-- Name: customer_credentials customer_credentials_updated_by_fkey; Type: FK CONSTRAINT; Schema: public; Owner: fintech_user
--

ALTER TABLE ONLY public.customer_credentials
    ADD CONSTRAINT customer_credentials_updated_by_fkey FOREIGN KEY (updated_by) REFERENCES public.users(id);


--
-- Name: customers customers_created_by_fkey; Type: FK CONSTRAINT; Schema: public; Owner: fintech_user
--

ALTER TABLE ONLY public.customers
    ADD CONSTRAINT customers_created_by_fkey FOREIGN KEY (created_by) REFERENCES public.users(id);


--
-- Name: customers customers_verified_by_fkey; Type: FK CONSTRAINT; Schema: public; Owner: fintech_user
--

ALTER TABLE ONLY public.customers
    ADD CONSTRAINT customers_verified_by_fkey FOREIGN KEY (verified_by) REFERENCES public.users(id);


--
-- Name: fees fees_account_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: fintech_user
--

ALTER TABLE ONLY public.fees
    ADD CONSTRAINT fees_account_id_fkey FOREIGN KEY (account_id) REFERENCES public.accounts(id) ON DELETE SET NULL;


--
-- Name: fees fees_customer_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: fintech_user
--

ALTER TABLE ONLY public.fees
    ADD CONSTRAINT fees_customer_id_fkey FOREIGN KEY (customer_id) REFERENCES public.customers(id) ON DELETE CASCADE;


--
-- Name: fees fees_distribution_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: fintech_user
--

ALTER TABLE ONLY public.fees
    ADD CONSTRAINT fees_distribution_id_fkey FOREIGN KEY (distribution_id) REFERENCES public.profit_distributions(id) ON DELETE SET NULL;


--
-- Name: holdings holdings_investment_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: fintech_user
--

ALTER TABLE ONLY public.holdings
    ADD CONSTRAINT holdings_investment_id_fkey FOREIGN KEY (investment_id) REFERENCES public.investments(id);


--
-- Name: holdings holdings_portfolio_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: fintech_user
--

ALTER TABLE ONLY public.holdings
    ADD CONSTRAINT holdings_portfolio_id_fkey FOREIGN KEY (portfolio_id) REFERENCES public.portfolios(id) ON DELETE CASCADE;


--
-- Name: investments investments_account_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: fintech_user
--

ALTER TABLE ONLY public.investments
    ADD CONSTRAINT investments_account_id_fkey FOREIGN KEY (account_id) REFERENCES public.accounts(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: investments investments_customer_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: fintech_user
--

ALTER TABLE ONLY public.investments
    ADD CONSTRAINT investments_customer_id_fkey FOREIGN KEY (customer_id) REFERENCES public.customers(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: investments investments_investor_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: fintech_user
--

ALTER TABLE ONLY public.investments
    ADD CONSTRAINT investments_investor_id_fkey FOREIGN KEY (investor_id) REFERENCES public.investors(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: investments investments_ipo_application_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: fintech_user
--

ALTER TABLE ONLY public.investments
    ADD CONSTRAINT investments_ipo_application_id_fkey FOREIGN KEY (ipo_application_id) REFERENCES public.ipo_applications(id) ON UPDATE CASCADE ON DELETE SET NULL;


--
-- Name: investor_account_assignments investor_account_assignments_account_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: fintech_user
--

ALTER TABLE ONLY public.investor_account_assignments
    ADD CONSTRAINT investor_account_assignments_account_id_fkey FOREIGN KEY (account_id) REFERENCES public.accounts(id) ON DELETE CASCADE;


--
-- Name: investor_account_assignments investor_account_assignments_assigned_by_fkey; Type: FK CONSTRAINT; Schema: public; Owner: fintech_user
--

ALTER TABLE ONLY public.investor_account_assignments
    ADD CONSTRAINT investor_account_assignments_assigned_by_fkey FOREIGN KEY (assigned_by) REFERENCES public.users(id);


--
-- Name: investor_account_assignments investor_account_assignments_customer_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: fintech_user
--

ALTER TABLE ONLY public.investor_account_assignments
    ADD CONSTRAINT investor_account_assignments_customer_id_fkey FOREIGN KEY (customer_id) REFERENCES public.customers(id) ON DELETE CASCADE;


--
-- Name: investor_account_assignments investor_account_assignments_investor_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: fintech_user
--

ALTER TABLE ONLY public.investor_account_assignments
    ADD CONSTRAINT investor_account_assignments_investor_id_fkey FOREIGN KEY (investor_id) REFERENCES public.investors(id) ON DELETE CASCADE;


--
-- Name: investor_categories investor_categories_investor_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: fintech_user
--

ALTER TABLE ONLY public.investor_categories
    ADD CONSTRAINT investor_categories_investor_id_fkey FOREIGN KEY (investor_id) REFERENCES public.investors(id) ON UPDATE CASCADE ON DELETE SET NULL;


--
-- Name: investors investors_created_by_fkey; Type: FK CONSTRAINT; Schema: public; Owner: fintech_user
--

ALTER TABLE ONLY public.investors
    ADD CONSTRAINT investors_created_by_fkey FOREIGN KEY (created_by) REFERENCES public.users(id) ON UPDATE CASCADE ON DELETE SET NULL;


--
-- Name: ipo_applications ipo_applications_account_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: fintech_user
--

ALTER TABLE ONLY public.ipo_applications
    ADD CONSTRAINT ipo_applications_account_id_fkey FOREIGN KEY (account_id) REFERENCES public.accounts(id);


--
-- Name: ipo_applications ipo_applications_applied_by_fkey; Type: FK CONSTRAINT; Schema: public; Owner: fintech_user
--

ALTER TABLE ONLY public.ipo_applications
    ADD CONSTRAINT ipo_applications_applied_by_fkey FOREIGN KEY (applied_by) REFERENCES public.users(id);


--
-- Name: ipo_applications ipo_applications_customer_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: fintech_user
--

ALTER TABLE ONLY public.ipo_applications
    ADD CONSTRAINT ipo_applications_customer_id_fkey FOREIGN KEY (customer_id) REFERENCES public.customers(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: ipo_applications ipo_applications_ipo_listing_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: fintech_user
--

ALTER TABLE ONLY public.ipo_applications
    ADD CONSTRAINT ipo_applications_ipo_listing_id_fkey FOREIGN KEY (ipo_listing_id) REFERENCES public.ipo_listings(id);


--
-- Name: ipo_applications ipo_applications_verified_by_fkey; Type: FK CONSTRAINT; Schema: public; Owner: fintech_user
--

ALTER TABLE ONLY public.ipo_applications
    ADD CONSTRAINT ipo_applications_verified_by_fkey FOREIGN KEY (verified_by) REFERENCES public.users(id);


--
-- Name: modification_requests modification_requests_requested_by_fkey; Type: FK CONSTRAINT; Schema: public; Owner: fintech_user
--

ALTER TABLE ONLY public.modification_requests
    ADD CONSTRAINT modification_requests_requested_by_fkey FOREIGN KEY (requested_by) REFERENCES public.users(id);


--
-- Name: modification_requests modification_requests_reviewed_by_fkey; Type: FK CONSTRAINT; Schema: public; Owner: fintech_user
--

ALTER TABLE ONLY public.modification_requests
    ADD CONSTRAINT modification_requests_reviewed_by_fkey FOREIGN KEY (reviewed_by) REFERENCES public.users(id);


--
-- Name: portfolios portfolios_customer_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: fintech_user
--

ALTER TABLE ONLY public.portfolios
    ADD CONSTRAINT portfolios_customer_id_fkey FOREIGN KEY (customer_id) REFERENCES public.customers(id) ON DELETE CASCADE;


--
-- Name: profit_distributions profit_distributions_created_by_fkey; Type: FK CONSTRAINT; Schema: public; Owner: fintech_user
--

ALTER TABLE ONLY public.profit_distributions
    ADD CONSTRAINT profit_distributions_created_by_fkey FOREIGN KEY (created_by) REFERENCES public.users(id) ON UPDATE CASCADE ON DELETE SET NULL;


--
-- Name: profit_distributions profit_distributions_investment_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: fintech_user
--

ALTER TABLE ONLY public.profit_distributions
    ADD CONSTRAINT profit_distributions_investment_id_fkey FOREIGN KEY (investment_id) REFERENCES public.investments(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: special_accounts special_accounts_created_by_fkey; Type: FK CONSTRAINT; Schema: public; Owner: fintech_user
--

ALTER TABLE ONLY public.special_accounts
    ADD CONSTRAINT special_accounts_created_by_fkey FOREIGN KEY (created_by) REFERENCES public.users(id);


--
-- Name: special_accounts special_accounts_investor_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: fintech_user
--

ALTER TABLE ONLY public.special_accounts
    ADD CONSTRAINT special_accounts_investor_id_fkey FOREIGN KEY (investor_id) REFERENCES public.investors(id) ON DELETE CASCADE;


--
-- Name: transactions transactions_account_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: fintech_user
--

ALTER TABLE ONLY public.transactions
    ADD CONSTRAINT transactions_account_id_fkey FOREIGN KEY (account_id) REFERENCES public.accounts(id) ON DELETE CASCADE;


--
-- Name: transactions transactions_created_by_fkey; Type: FK CONSTRAINT; Schema: public; Owner: fintech_user
--

ALTER TABLE ONLY public.transactions
    ADD CONSTRAINT transactions_created_by_fkey FOREIGN KEY (created_by) REFERENCES public.users(id);


--
-- PostgreSQL database dump complete
--

\unrestrict oiqNnR6KxP4frUb1sFHRmtQj8eJlubu7cmQL0y6BLDXVyRZ8g9XhSZaimdhMKaA

